@font-face {
    font-family: Hkgrotesk;
    src: url(fonts/HKGrotesk-Regular.otf);
}

@font-face {
    font-family: HkgroteskBold;
    src: url(fonts/HKGrotesk-Bold.otf);
}

body {
    margin: 0;
    margin-top: 10mm;
    margin-bottom: 11.5mm;
    margin-left: 0;
    font-family: "Hkgrotesk";
    background-color: #fff;
}

@page {
    size: 29.7cm 21cm;
    /*     margin-right:5mm;
    */
    margin-top: 10mm;
    margin-bottom: 11.5mm;
    margin-left: 0;
}

/*  @page {
size: landscape
}

html, body, #main {
width: 297mm;
height: 210mm;
margin-top: 5cm;
margin-bottom: 25mm;
} */

div {
    float: none !important;
    position: static !important;
    box-sizing: content-box !important;
}

#info-box {
    display: none;
}

#par_numbr {
    display: none;
}

#menu-bar-xs {
    display: none;
}

#arrows {
    display: none;
}

.keyword-toggle {
    display: none;
}

#menu-right {
    display: none;
}

.footer {
    display: none;
}

#content {
    margin: 2cm;
    margin-left: 3cm;
}

.section {
    margin-left: -2cm;
}

.section h2 {
    width: 10cm;
    margin: 0;
    padding: 0;
    page-break-before: always !important;
    font-size: 24pt;
    line-height: 27pt;
    font-family: "HKGroteskbold";
    height: auto;
    background-color: transparent;
}

.section h3 {
    font-size: 12pt;
    line-height: 15pt;
    -webkit-margin-before: 0;
    -webkit-margin-after: .2cm;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    page-break-after: avoid;
}

.section p {
    font-size: 9pt;
    line-height: 13pt;
    margin-bottom: .2cm;
    float: none !important;
    clear: none;
}

.section p,.section h3 {
    width: 10cm;
}

.section h2 {
    margin-bottom: .4cm;
}

.section .author,.section .words {
    font-family: "HKGroteskbold";
    font-size: 9pt;
    line-height: 12pt;
    background-color: transparent;
    margin-bottom: .4cm;
}

.section .author {
    /*         margin-left: 11.5cm;
    position: absolute;
    margin-top: 1.5cm; */
}

.section .words {
    /*         margin-left: 11.5cm;
    margin-top: 2cm;
    position: absolute; */
}

.section img {
    /*     margin-top:2cm;
    right: 2cm;
    position: absolute;
    page-break-inside: avoid;
    page-break-before: always; */
    width: auto;
    height: 8cm;
    position: absolute;
    clear: left;
    margin-left: 11cm;
    page-break-inside: avoid !important;
}

.section .img-caption {
    font-size: 7pt;
    margin-top: 8.5cm;
    text-indent: 0;
    width: 11.5cm;
    height: auto;
    position: absolute;
    clear: left;
    margin-left: 11cm;
    font-family: "HKGroteskbold";
    align-self: baseline;
    vertical-align: bottom;
}

blockquote {
    page-break-before: avoid;
    page-break-inside: avoid;
    margin: 0 0 2em;
    font-size: inherit;
    border-left: 0;
    border: 0;
    margin-top: 0;
    margin-bottom: .2cm;
}

blockquote p {
    line-height: inherit;
    border: 0;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: disc;
    margin: 0;
    padding: 20px 0;
}

li {
    margin-left: 0;
}

.references {
    font-size: 9pt;
    line-height: 13pt;
    text-indent: 0;
    margin-bottom: 0;
    margin-top: 1cm;
}

.references p {
    font-size: 9pt;
    line-height: 13pt;
    hyphens: auto;
    word-wrap: break-word;
    text-indent: 0;
    margin-bottom: .2cm;
}

.references h3 {
    font-size: 9pt;
    line-height: 13pt;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    margin-bottom: .2cm;
    font-family: "HKGroteskbold";
}

#sidenote-wrapper {
    /*         width: 4cm;
    right:0cm; */
    /*         margin-top: -30cm;
    */
    margin-left: 12cm;
    position: fixed;
    border: initial;
    border-radius: initial;
}

#chapter8 {
    margin: 0;
    right: 0;
    font-size: 7pt;
    line-height: 9pt;
    /*         position: absolute;
    */
}

#chapter8 ol li:before {
    font-size: 7pt;
    line-height: 9pt;
}

#chapter8 ol li p {
    color: #000;
    font-family: "HKGrotesk";
    font-weight: 400;
    font-size: 7pt;
    line-height: 9pt;
    table-layout: fixed;
    overflow: hidden;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-hyphenate-limit-lines: no-limit;
    hyphenate-limit-lines: no-limit;
    word-break: normal;
    word-wrap: break-word;
}

#chapter8 ol li p a {
    color: #000;
    font-family: "HKGroteskbold";
    word-wrap: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    word-break: break-all;
    -ms-word-break: break-all;
    white-space: pre-wrap;
    page-break-after: avoid;
    font-size: 7pt;
    line-height: 9pt;
}

#chapter8 ol {
    list-style: decimal;
    text-indent: 0;
    margin-left: 25px;
    font-size: 7pt;
    line-height: 9pt;
    counter-reset: item;
    list-style-type: none;
    page-break-inside: avoid;
}

.sidenote {
    margin-left: 12cm;
    width: 5cm;
    font-size: 7pt;
    line-height: 9pt;
    page-break-inside: avoid;
}

#menu {
    padding: 0;
    margin: 0;
    top: -6cm;
    margin-top: -6cm;
    margin: 0;
    border: initial;
    border-radius: initial;
    margin-left: 13.1cm;
}

#toc_wrapper {
    margin: 0;
    padding: 0;
    width: 13cm;
}

.menu-publication-title {
    padding: 0;
    margin: 0;
    margin-top: 0;
    font-size: 24pt;
    line-height: 27pt;
    font-family: "HKGroteskbold";
    margin-bottom: .5cm;
}

#menu h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 12pt;
    line-height: 15pt;
    font-family: "HKGrotesk";
    page-break-inside: avoid;
}

.horizScroll,.subScroll {
    display: none;
}

#toc_wrapper h2 {
    margin: 0;
}

.toc_number {
    text-align: left;
    font-size: 18pt;
    line-height: 22pt;
    float: left;
    padding-left: 0;
    font-family: "HKGroteskbold";
    page-break-inside: avoid;
}

.toc_title {
    margin: 0;
    padding: 0;
    margin-left: 1cm;
    font-size: 18pt;
    line-height: 22pt;
    font-family: "HKGroteskbold";
    text-overflow: clip;
    page-break-inside: avoid;
    hyphens: auto;
}

.toc_author {
    margin-left: 1cm;
    font-size: 12pt;
    margin-top: .2cm;
    margin-bottom: .4cm;
    page-break-inside: avoid;
}

.toggle_menu_left_button div {
    display: none;
}