@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Librebaskerville;
    src: url('fonts/LibreBaskerville-Regular.ttf');
}
@font-face {
    font-family: Umemincho;
    src: url('fonts/Ume-Mincho.ttf');
}
@font-face {
    font-family: Caslon;
    src: url('fonts/LibreCaslonText-Regular.otf');
}
@font-face {
    font-family: Texgyre;
    src: url('fonts/texgyreheros-regular.otf');
}
@font-face {
    font-family: Cmunss;
    src: url('fonts/cmunss.ttf');
}
@font-face {
    font-family: Hkgrotesk;
    src: url('fonts/HKGrotesk-Regular.otf');
}


body {
    margin: 0;
    overflow-y: scroll;
      overflow-x: hidden;
    font-family: "Hkgrotesk";
    width: 100%;
    text-rendering: optimizeSpeed;
    position: relative;
  background-color:#fafafa;
}

.main{
}
.pushmenu pushmenu-left pushmenu-open .content{
    width: 20%;
}
.pushmenu-open .main{
    width: 20%;
}

.container{
}

a:hover{
color:#ff521e;
}



/*
************ FIXED BAR *************

*/
.logoinc{
    width: 200px;
    height: auto;
    background-color: none;
    margin: 0;
    margin-left: 4%;
    box-shadow: none;
    position: absolute;
}

.fixedbar{
    height:20px;
    width: 100%;
    position: fixed;
    font-size:40px;
    font-family: "Times";
z-index: 9999999999;
}



.fixedbar .title{
    float: right;
    position: relative;
    color:#3e3e3e;
}

/*
************ COVER *************

*/

.cover-container{
}
#cover{
margin:0;
}

#cover-shadow{
    z-index: -990;
    position: absolute;
    margin-top:900px;
    left:-500px;top:0;width:160%;
background-color: white;
}

/*
************ BOOTSTRAP *************
*/

.nav nav-tabs{
    color: red;
}
/*
************ SUMMARY *************
*/
.summary{
    z-index: 99999;
    position: absolute;
    font-size: 10px;
    background-color: white;
    width: 400px;
    left:34%;
    top:100px;
    padding: 10px;
    border:1px solid #3e3e3e;
}

.coverpicture{
    border:1px solid #3e3e3e;
    box-shadow: none;
    width: 300px;
    height: auto;
    margin:0;
    margin-top: 100px;
    margin-left: 4%;   
    padding: 20px;
    background-color: white;
}

/*

/************* READER ***************/


/************* test ***************/

.section {
    width: 100%;
    margin:0;
    background-color: #fafafa;
    color:#3e3e3e;
}
.section ul{
    color:#3e3e3e;
}
.section current{
        width: 100%;
    margin:0;

}
.current {
}

.navigation {
    position:fixed;
    right:50px;
    top:50%;
    z-index: 999999999999;
}
/*******
.arrow_top{
    margin-left:3%;
    height: 30px;
    position: fixed;
    float: left;
    margin-top:3%;
}

.arrow_bottom{
    margin-left:3%;
    height: 30px;
    position: fixed;
    float: left;
    bottom:10%;
}
********************/

.content{
    overflow-x: hidden;
   /* margin-left: 15%;
    margin-right: 15%;*/
    font-size: 1.2em;
    line-height: 1.6em;
color:#3e3e3e;
}
.content-pushed{
   /* width: 60%; 
    margin-left: 10%;
    margin-right: 5%;*/
        line-height: 32px;
}

a{
    color: inherit;
}
.section h2{
    margin-top: 160px;
    margin-left: 5%;
    margin-bottom: 30px;
    padding-right: -40px;
    padding-top: 10px;
    max-width: 600px;
  /*  font-family: "Umemincho"; */
    font-size: 3em;
    line-height: 1em;
/*
background-color: #c6c6c6;
border-radius:5px;
-moz-box-shadow: 5px 5px 70px 60px #c6c6c6;
-webkit-box-shadow: 5px 5px 70px 60px #c6c6c6;
-o-box-shadow: 5px 5px 70px 60px #c6c6c6;
box-shadow: 5px 5px 70px 60px #c6c6c6;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c6c6c6, Direction=134, Strength=50s);*/
}

.section h3{
    font-size: 24px;
    margin-left: 5%;
}

.section p, h2, h3, h1, img, .author{
    margin-left: 3%;
    margin-right: 40%;
    font-weight: normal;
    z-index: 9999;
}

.section p{
    margin-left: 5%;
}

.author{
        margin-left: 5%;
    margin-right: 0;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: underline;
 /*  border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 255, 255, 0.33); */
}

.words{
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
}

img{
    z-index: -9999999999999999;
    width: 65%;
    text-align: center;
    margin-top:40px;
    margin-bottom: 40px;
-moz-box-shadow: 5px 5px 40px 30px #e6e6e6;
-webkit-box-shadow: 5px 5px 40px 30px #e6e6e6;
-o-box-shadow: 5px 5px 40px 30px #e6e6e6;
box-shadow: 5px 5px 40px 30px #e6e6e6;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#e6e6e6, Direction=134, Strength=50s);
}
 section.content {
  /* padding: 10px 20px;*/
 }


.text{
    z-index: 999;
   margin-top: 600px;
   /* padding: 0px 35px 0px 35px;*/
}

/************* REFERENCE LISTS ***************/
#reference-list, #reference-list-1, #reference-list-2, #reference-list-3, #reference-list-4, #reference-list-5, #reference-list-6, #reference-list-7, #reference-list-8, #reference-list-9, #reference-list-10{
    font-family: "Verdana";
    font-size: 0.8em;
    text-decoration: underline;
}
.references{
    font-size: 0.7em;
    line-height: 1.4em;
text-indent: 20px;
}

/************* NOTE ***************/
.footnoteRef{
    font-size: 0.7em;    
    text-decoration: none;
    vertical-align:super;
    line-height: 0.7em;
}

.sidenote{
    clear: right;
    width: 20%;
    margin-right: 10%;
    float: right;
    padding:0;
    padding-right: 0%;
    font-size: 10px;
    line-height: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
    font-family: "Verdana";
}

/************* SEARCH BOX ***************/

#live-search{
    position: relative;
    border-style: none;
    display: inline-block;
    float: right;
    right: 3%;
}

fieldset{
    margin: 0;
    padding: 0;
    border-style: none;
}
#filter{
}
#filter > *{
    
}


#filter-count{
   color: #3e3e3e;
}
#filter.text-input{
}
input#filter{   
}
input{
    border:1px solid #3e3e3e;
}
input:hover{
    border:1px solid #ff3300;
}

.search-found {

}

.search-notfound {
    color:rgba(203, 203, 203, 0.22);
}

.allWords{
    font-size: 13px;
    background-color: white;
    width: auto;
    position: fixed;
    padding-left: 2px;
    list-style-type : none;
    cursor: pointer;
    padding:2px;
    margin-top: 2px;
}

/************* MENU ***************/
.pushmenu { /* this is the nav that is hidden */
  width: 270px;
  height: 100%;
  top: 0;
  position:fixed;
    background-color: white;
    overflow-x: hidden;

}
#book-info{
    margin-bottom: 20px;
}
#book-toc{
    margin-left: 5px;
    margin-right: 5px;
}
#credit{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 9px;
        padding: 15px;

}
.icon{
    width:35px;
    height: auto;
    box-shadow: none;
    padding: 0;
    margin: 0 10px 0 0;
}
.logo{
    width: 200px;
    height: auto;
    background-color: none;
}
.pushmenu .title, .pushmenu .title a{
    position: relative;
    font-style: italic;
    font-family: "Verdana";
    padding-bottom: 0;
    margin-bottom: 0;
}
.pushmenu .date{
    font-size: 12px;
}

.pushmenu h2 { /* big part */
  font-size: 1.2em;
  padding: 5px 5px 0px 5px;
    margin: 0;
  height: auto;
    -webkit-margin-before:0;
    -webkit-margin-after: 2px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;  
        text-decoration: none;
font-weight: normal;
/* border-width:1px;
 border-style:solid;
 border-color:#3e3e3e;
    border-radius: 8px;*/
}

.pushmenu h3 { /* sub-part */
  font-size: 0.7em;
  padding: 0px 5px 5px 5px;
  margin-bottom: 0px;
    margin-left:20px;
    min-width: 200px;
 /* border-width:1px;
    border-style:solid;
 border-color:#3e3e3e;
    border-radius: 8px;*/
font-weight: normal;

}

.pushmenu a {
  display: block; /* drops the nav vertically*/
 /* border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e5e5e5;*/
  text-decoration:none;
}
.pushmenu h2:hover{
  background:#ededed;
}
.pushmenu h3:hover{
  background:#ededed;
}

.pushmenu a:active {
color:#ff3300;
}

.pushmenu-left {
  left: -270px;
    overflow-y:scroll;
}

.pushmenu-left.pushmenu-open {
  left: 32px;  
    border-right: solid 1px #3e3e3e;
-webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 270px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}
 .buttonset {
  height:100%;
  line-height:500px;
     position: fixed;
     top:0;
     left:0;
     vertical-align: middle;
 }
#nav_list /* button to active the pushmenu */ {
/* background: url(http://www.onlywebpro.com/demo/jquery/icon_nav.png) no-repeat;*/
  cursor: pointer;
  height:100%;
  width: 20px;
 /* text-indent: -99999em; */
vertical-align:middle;
  display:inline-block;
  line-height:normal;
  text-align:left;
    background-color:white;
    color: #3e3e3e;
    border: solid 0px #3e3e3e;
    border-top: none;
    padding: 5Px;
    /* box-shadow: 0px -3px 15px 8px white;
    -webkit-box-shadow: 0px -3px 15px 8px white;
    -moz-box-shadow: 0px -3px 15px 8px white;*/
}

#nav_list:hover{
    color: white;
    background-color: #ff3300;
}

.close{
cursor: pointer;
    height: 30px;
  width: 27px;
vertical-align:middle;
  display:inline-block;
  line-height:normal;
  text-align:left;
    background-color:#ff3300; 
    position: fixed;
}
nav-list.active {
  background-position: -33px top;
    display: none;
}





.pushmenu-left.pushmenu-open #nav-list{
    display: none;
    margin-left:70px;
}


/************* FOOTER ***************/
#pre-footer{
    width: 100%;
    height: 400px;
    position: relative;
    z-index: -99999999;
}
#footer{
    width: 100%;
    height: 120px;
    position: relative;
    background-color:#444444;
        z-index: -99999999;
    padding-top: 30px;
}
.footer-column{
    margin-left: 5%;
    width: 200px;
    float: left;
    margin-bottom: 0px;
    vertical-align:baseline;
}

.hva{
    width: 250px;
    height: 50px;
    background-size: 100%;
        background-image: url(image/hva-logo.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 10%;
}

/*

************ PARALLAX *************


.parallax{
    width: auto;
}

[class*="bg__"] {
  height: 800px;
  text-indent: -9999px;
  fix background
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
background-image: url('image/cover.jpg');
    background-size: contain;
    background-position:left top;
    position: relative;
}

.cover {
background-image: url('image/cover.jpg');
    width: inherit;
    position: relative;
    background-repeat: no-repeat;
}


.bg__bar {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax2.jpg
  );
}

.bg__baz {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax3.jpg
  );
}

.bg__bazz {
  height: 100vh;

  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
  );
}
*/




/*

************* DEVICES ***************

*/

/* smartphones, iPhone, portrait 480x320 phones 
@media (min-width:200px) {  
.content{
    overflow-x: hidden;
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
}
.content-pushed{
    width: 60%;
    margin-left: 105%;
    margin-right: 5%;
}
}*/


/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
@media (min-width:481px) {
     
.content{
    overflow-x: hidden;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
@media (min-width:641px) {
      
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/
/*
@media (min-width:800px){
    .content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/
/* tablet, landscape iPad, lo-res laptops ands desktops
@media (min-width:961px) {
      
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/

/* big landscape tablets, laptops, and desktops 
@media (min-width:1025px) {
    
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
} */

/* hi-res laptops and desktops 

@media (min-width:1281px) {
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.content-pushed{
    width: 800px;
    margin-left: 13%;
    margin-right: auto;}
} 