@font-face {
    font-family: Hkgrotesk;
    src: url('fonts/HKGrotesk-Regular.otf');
}
@font-face {
    font-family: HkgroteskBold;
    src: url('fonts/HKGrotesk-Bold.otf');
}
html{
	height: 100%;
    margin: 0;
    margin-top: 0;
}
body {
    font-family: "Hkgrotesk";
    text-rendering: optimizeSpeed;
    height: 100%;    background-color:#f4f4f4;
    margin: 0;
    margin-top: 0;
    font-size: 14px;
}

#wrap{
  min-height:100%;
    margin: 0;
    margin-top: 0;
        overflow-y: hidden;

}




/*********************
06. MENU BUTTONS/SELECTORS
*********************/

/* Tags */
.button{
    border-radius: 5px;
    padding:2px; 
    cursor: pointer;
        line-height: 2em;
    background-color: white;

}
.button:hover{
    margin-left:1px;
    margin-top:1px;
}

.off {
    background-color: white; 
}
.on {
    background-color: #dddddd;  

}

.menu-tags{
    margin-top: 20px;
    width: 250px;
}

/* Date */
.menu-date{
    margin-top:20px;
}
section.range-slider {
    width: 150px;
    height: 35px;
    text-align: center;
        position: relative;

}

section.range-slider input {
    pointer-events: none;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 150px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
        position: absolute;

}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    cursor: pointer;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
}
section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
  section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

/* Forms (Author, Title, Editor) */

.menu-form{
    margin-top: 0px;
}

input{
    width: 230px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Hkgrotesk";
}

/*********************
06. HEADER STYLES
*********************/
.header {
  position:fixed;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #f4f4f4;
height: 80px;
    margin: 0;
}

#container{
    height: 100%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 0px;
        overflow-x:hidden;
    position: absolute;

}
#menu{
    width: 300px;
    float: left;
    position:fixed;
    margin-top:100px;
}
#content{
height: 100%;
    width: 80%;
margin: 0;
    margin-left: 300px;
}

/*********************
06. BOOKS SELECTION
*********************/
div.publication div.cover {
    height: 270px;
    text-align: center;
    padding-top: 10px;
    position: relative;
}
.publication{
    width: 24%;
    max-height: 800px;
    float: left;
    margin: 1.5%;
    position: relative;
    font-size: 0.9em;
    word-break: break-word;
    padding: 1em 1em 0.5em 1em;
}
.publication:hover{
    background-color: white;
    border: 1px solid #ff3300;
}
.publication:hover img{
        border:2px solid white;
}

.cover{
    text-align: center;
}
.publication img{
    width: auto;
    height: 220px;
}

/************* FOOTER ***************/

#footer{
    width: 100%;    
  background-color: #444444;
  color: #ffffff;
  height: 120px;
    position: absolute;
bottom: 0; left: 0; right: 0;
}
.footer-column{
    margin-left: 5%;
    width: 200px;
    float: left;
    margin-bottom: 0px;
    vertical-align:baseline;
}

.hva{
    width: 250px;
    height: 50px;
    background-size: 100%;
        background-image: url(image/hva-logo.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 10%;
}



