@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: Librebaskerville;
    src: url('fonts/LibreBaskerville-Regular.ttf');
}
@font-face {
    font-family: Umemincho;
    src: url('fonts/Ume-Mincho.ttf');
}
@font-face {
    font-family: Caslon;
    src: url('fonts/LibreCaslonText-Regular.otf');
}
@font-face {
    font-family: Texgyre;
    src: url('fonts/texgyreheros-regular.otf');
}
@font-face {
    font-family: Cmunss;
    src: url('fonts/cmunss.ttf');
}
@font-face {
    font-family: Hkgrotesk;
    src: url('fonts/HKGrotesk-Regular.otf');
}
@font-face {
    font-family: HkgroteskBold;
    src: url('fonts/HKGrotesk-Bold.otf');
}
@font-face {
    font-family: LeagueGothic;
    src: url('fonts/LeagueGothic-Regular.otf');
}


body {
    margin: 0;
    overflow-y: scroll;
      overflow-x: hidden;
   /* font-family: "Opensans";*/
    font-family: "Hkgrotesk";
    width: 100%;
    text-rendering: optimizeSpeed;
/*    position: relative; */
    background-color: white;

}

.main{
    
}
.pushmenu pushmenu-left pushmenu-open .content{
    width: 20%;
}
.pushmenu-open .main{
    width: 20%;
}

.container{

}
a{
    color:inherit;
}
a:hover{
color: #ff3300;
}


/*
************ FIXED BAR *************

*/
.fixedbar{
    height:20px;
    width: 100%;
    position: fixed;
    font-size:40px;
    font-family: "Times";
}

.fixedbar .logo{
    width: 100px;
    height: auto;
    background-color: none;
    margin: 0;
    box-shadow: none;
}

.fixedbar .title{
    float: right;
    position: relative;
    /*font-family: "LeagueGothic";
    text-transform: uppercase;*/
    font-size: 17px;
    line-height: 0.9em;
    max-width: 20%;
    color: black;
    z-index: -99999;
    font-family: "Hkgrotesk";
}

/*
************ COVER *************



.cover-container{
    position:absolute;left:0;top:0;width:100%;height:auto;z-index:-999;
}
#cover{
margin:0;width:100%;
    
}

#cover-shadow{
    z-index: 99999999999990;
    position: absolute;
    margin-top:400px;
    left:-500px;top:0;width:160%;
background-color: white;
    height: 400px;
}
*/


/*
************ SUMMARY BOX *************
*/

#info-box{
        height: auto;
    overflow: hidden; 
        width: 100%;
   /*     background-color: #efefef; */
color: black;
    padding-left: 40px;
background-color:rgba(255, 51, 0, 0.1);
padding-bottom: 30px;
}


#book-title{
    font-size: 40px;
    margin-top:10px;
    line-height: 1em;
        max-width: 50%;
}
#summary{
    font-size: 14px;
    max-width: 50%;
    border-radius: 10px;
    padding-right:10px;
   /* padding: 15px 30px 20px 20px;/*
    background-color: rgba(255, 255, 255, 0.53);*/
   /* background-color: #f4f4f4; */
}

.info{
    height: auto;
    
}
#summary .summary, #summary .author, #summary .editor, #summary .date, #summary .series, #summary .subjects{
   /* color: #a7a7a7; */
    color: black;

    font-size: 14px;
    text-decoration: none;
    vertical-align: top;
    text-transform: none;
    width: 80px;
}
/*.author_tofill, .editor_tofill, .date_tofill, .series_tofill, .subjects_tofill{
    color: black;
}*/
.author_tofill{
            color: rgb(255, 51, 00);
    font-size: 40px;     line-height: 1.2em;

}
.editor_tofill{
        color: green;
    font-size: 40px;     line-height: 1.2em;

}
.date_tofill{
        color: darkblue;

    font-size: 40px; line-height: 1.2em;
}
/************* READER ***************/

b{
    font-family: "HkgroteskBold";
}
/************* test ***************/

.section {
    color: #171717;
  /*  background-color: #f4f4f4; */
    background-color: white;
    width: 100%;

}
.section ul{
    color:black;
}
.section current{
        width: 100%;
    padding-top:0px;

}
.current {
    margin-top:10px;

}

#display1 {
    position:fixed;
    right:35%;
    top:4%;
    z-index: 999999999999;
}
#display{
    position:fixed;
    right:35%;
    bottom:4%;
    z-index: 999999999999;
}
/*******
.arrow_top{
    margin-left:3%;
    height: 30px;
    position: fixed;
    float: left;
    margin-top:3%;
}

.arrow_bottom{
    margin-left:3%;
    height: 30px;
    position: fixed;
    float: left;
    bottom:10%;
}
********************/

.content{
 /*   overflow-x: hidden;
   /* margin-left: 15%;
    margin-right: 15%;*/
    font-size: 1.2em;
    line-height: 1.6em;
color:#1a1a1a;
    margin:0;
    
}
.content-pushed{
   /* width: 60%; 
    margin-left: 10%;
    margin-right: 5%;*/
        line-height: 32px;
    margin-right: 0%;
            margin-left:0px;

}

a{
}

.keyword{
 /*   text-shadow: 2px 3px 20px black; */
    background-color: rgba(132, 132, 132, 0.38);
    cursor: pointer;
    font-style: normal;
        border-radius: 5px;
    padding:2px; 
    cursor: pointer;
        line-height: 2em;
    text-decoration: none;
}
.keyword:hover{
    color: black;
    margin-left:1px;
    font-style: italic;
    background-color: #f8f8f8;
    text-decoration: none;
}
.keyword-searched{
    margin-bottom: 14px;
    background-color:rgba(255, 51, 0, 0.54);
    cursor: text;
}
.keyword-searched:hover{

}

.importantword{
  /*   text-shadow: 2px 3px 20px black; */
    font-style: normal;
    cursor:text;
    color: black; /*text-shadow: 0 0 .4em rgba(0,0,0,1);*/
    border-bottom: 1px dotted black;
        
}
.section h2{
    margin-top: 20px;
    margin-left: 0%;
    margin-bottom: 30px;
    padding-right: -40px;
    padding-top: 10px;
    max-width: 700px;
  /*  font-family: "Umemincho"; */
    font-family: "Times";
    font-size: 3em;
    line-height: 1em;
/*
background-color: #c6c6c6;
border-radius:5px;
-moz-box-shadow: 5px 5px 70px 60px #c6c6c6;
-webkit-box-shadow: 5px 5px 70px 60px #c6c6c6;
-o-box-shadow: 5px 5px 70px 60px #c6c6c6;
box-shadow: 5px 5px 70px 60px #c6c6c6;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c6c6c6, Direction=134, Strength=50s);*/
}

.section h3{
    font-size: 24px;
}

.section p, h2, h3, h1, img, .author{
    margin-right: 40%;
    font-weight: normal;
}

.section p{
}

.author{
        margin-left: 0%;
    margin-right: 0;
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: underline;
 /*  border-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 255, 255, 0.33); */
}

.words{
    font-size: 0.7em;
    text-transform: uppercase;
    text-decoration: none;
}

img{
    z-index: -9999999999999999;
    width: 55%;
    text-align: center;
    margin-top:40px;
    margin-left:40px;
    margin-bottom: 40px;
-moz-box-shadow: 5px 5px 40px 30px #e6e6e6;
-webkit-box-shadow: 5px 5px 40px 30px #e6e6e6;
-o-box-shadow: 5px 5px 40px 30px #e6e6e6;
box-shadow: 5px 5px 40px 30px #e6e6e6;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#e6e6e6, Direction=134, Strength=50s);
}
 section.content {
  /* padding: 10px 20px;*/
 }


.text{
   margin-top: 0px;
    margin-left:0;
    padding-left:40px;
   /* padding: 0px 35px 0px 35px;*/
    border-top: 1px solid black;
}
.about_authors{
    background-color: gray;
    width: 400px;
    height: 200px;
    border-radius: 20px;
}
/************* REFERENCE LISTS ***************/
#reference-list, #reference-list-1, #reference-list-2, #reference-list-3, #reference-list-4, #reference-list-5, #reference-list-6, #reference-list-7, #reference-list-8, #reference-list-9, #reference-list-10{
    font-family: "Verdana";
    font-size: 0.8em;
    text-decoration: underline;
}
.references{
    font-size: 0.7em;
    line-height: 1.4em;
text-indent: 20px;
}

/************* NOTE ***************/
.footnoteRef{
    font-size: 0.7em;    
    text-decoration: none;
    vertical-align:super;
    line-height: 0.7em;
}

.sidenote{
    clear: right;
    margin-right: 13%;
    margin-bottom: 2px;
    width: 15%;
    float: right;
    font-size: 10px;
    line-height: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
    font-family: "Verdana";
    z-index: 9999999;
    border-radius: 5Px;
    background-color:#f4f4f4;
}
.sidenote p{
    margin-right: 0%;
}

/************* SEARCH BOX ***************/

#live-search{
    position: relative;
    border-style: none;
    display: inline-block;
    float: right;
    right: 3%;
}

fieldset{
    margin: 0;
    padding: 0;
    border-style: none;
}
#filter{
}
#filter > *{
    
}


#filter-count{
    color: black;
    font-size: 12px;
    font-family: "Hkgrotesk";
    text-align: justify;
}
#filter.text-input{
}
input#filter{   
}
input{
    width: 230px;
    margin-bottom: 8px;
    font-size: 15px;
    font-family: "Hkgrotesk";
    border-style: none;
    color: black;
    padding: 0;
    background-color:#f4f4f4;
    border-radius: 5px;
}
input:hover{
    border-radius: 5px;
}

.search-found {
    color: black;
}
.search-found .importantword{
  /*   text-shadow: 2px 3px 20px black; */
    font-style: normal;
    cursor:text;
    color:black;
    border-bottom: 0px dotted black;
}
.search-found .keyword-searched{
  /*   text-shadow: 2px 3px 20px black; */
    margin-bottom: 0px;
    background-color:yellow;
    cursor: text;
    border-radius: 5px;
    color: black;
}

.search-notfound {
    color:rgba(203, 203, 203, 0.22);
}
.search-notfound .importantword{
  /*   text-shadow: 2px 3px 20px black; */
    font-style: normal;
    cursor:text;
    color:rgba(203, 203, 203, 0.22);
    border-bottom: 0px dotted black;
}
.search-notfound .keyword-searched{
    margin-bottom: 0px;
    background-color:rgba(255, 255, 255, 0);
    cursor: text;
        color:rgba(203, 203, 203, 0.22);
}
.allWords{
    font-size: 13px;
    background-color: white;
    width: auto;
    position: fixed;
    padding-left: 2px;
    list-style-type : none;
    cursor: pointer;
    padding:2px;
    margin-top: 2px;
}

/************* MENU ***************/


/* PRINT / SHARE / FILES */
.menu-below{
    padding-left: 20px;
      -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
    margin:auto;
        text-decoration: none;
    border-bottom: 0;
background-color:rgba(255, 51, 0, 0.33);}
.menu-below hr{
        margin-top: 5px;
    height: 1px;
    border: 0;
    padding: 0;
}
.menu-below:hover hr{
        margin-top: 160px;
    background-color:#ff3300;
    color:white;
}
.button-menu-below{
    margin-right: 70px;
    position: relative;
    float: left;
}
.text-share{
    display: block;
    margin: 0;
    text-transform: uppercase;
}             
#hover-button{
   display: none;
    position: absolute;
}
.menu-below:hover #hover-button{
    display:block; 
    margin: 0;
    
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu-below:hover .button-menu-below{
    margin-right: 70px;
        text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hover-button{
    text-decoration: none;
}
.menu-below .button-menu-below a{
        text-decoration: none;
    font-size: 14px;
    text-transform: none;
    border-radius: 5px;
    padding:2px; 
}
.text-share #hover-button .hover-button a{        
    background-color: rgba(95, 95, 95, 0.29);
    border-radius: 5px;

}
/* structure */

.pushmenu { /* this is the nav that is hidden */
  width:35%;
  height: 100%;
  top: 0;
  position:fixed;
     /*background-color:#f4f4f4; */
    background-color: rgba(255, 51, 0, 0.28);
    overflow-x: hidden;
}

#book-info{
    margin-bottom: 20px;
}
#book-toc{
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 0px;
  /*  height: 400px;
    border-bottom: 1px solid black;
    overflow-y: scroll;*/
}
#book-downloads{
    margin-top:10px;
}
#book-downloads, #social{
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 10px;
}


#credit{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 9px;
        padding: 15px;

}
.icon{
    width:35px;
    height: auto;
    box-shadow: none;
    padding: 0;
    margin: 0 10px 0 0;
}
.logo{
    width: 200px;
    height: auto;
    background-color: none;
}

/* links style */

.button, .hover-button{
    border-radius: 5px;
    padding:2px; 
    cursor: pointer;
        line-height: 2em;
}
.button a, .hover-button{
    text-decoration: none;
}
.button:hover, .button a:hover, .hover-button:hover, .hover-button a:hover{
    margin-left:1px;
    margin-top:1px;
    color: black;

}
.button a:active{
    box-shadow: 4px 4px 2px rgba(128, 128, 128, 0.5);
    color: black;
    border-radius: 5px;
    padding:2px; 
}

.pushmenu .date{
    font-size: 12px;
}

.pushmenu h2 { /* big part */
    font-size: 1.1em;
    margin-top:10px;
    margin-right: 10px;
  height: auto;
    width: auto;
    text-decoration: none;
font-weight: normal;
/* border-width:1px;
 border-style:solid;
 border-color:black;
    border-radius: 8px;*/
       transition: border 0.5s ease;

}

.pushmenu h3 { /* sub-part */
  font-size: 0.9em;
    margin-bottom: 2px;
    padding:0;
 /* border-width:1px;
    border-style:solid;
 border-color:black;
    border-radius: 8px;*/
font-weight: normal;
    width: auto;
       transition: border 0.5s ease;


}
.pushmenu h3 a{
        text-decoration: none;
}

.pushmenu h2 a:hover, .pushmenu h3 a:hover{
    border-radius: 5px;
    padding:2px; 
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.pushmenu h2 a:hover, #book-toc-link:hover{
    border-radius: 5px;
    background-color:rgb(255, 51, 0);
    color: white;

}
.pushmenu h3 a:hover{
   /*background-color: #dddddd;*/
        background-color:rgb(255, 51, 0);
    color: white;
    border-radius: 5px;
}
.pushmenu-left, .pushmenu-left2 {
  left: -35%;
    overflow-y:scroll;
}

.pushmenu-left.pushmenu-open, .pushmenu-left2.pushmenu-open {
  left: 0px;  
  /*  border-right: solid 1px black;*/
    border-right: solid 0px black;
-webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.pushmenu-push, .pushmenu-push2 {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 35%;
}

.pushmenu a{
        text-decoration: none;

}
/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}
.pushmenu-left .pushmenu-open .buttonset{
    position: fixed;
    left:400px;
}
 .buttonset {
     position: fixed;
     top:0;
     left:0;
 }
#nav_list /* button to active the pushmenu */ {
/* background: url(http://www.onlywebpro.com/demo/jquery/icon_nav.png) no-repeat;*/
  cursor: pointer;
  width: 20px;
 /* text-indent: -99999em; */
  line-height:normal;
  text-align:left;
       /* background: linear-gradient(rgba(255, 51, 0, 0.4) 50%, rgba(255, 255, 255, 1) 50%); 
       background: linear-gradient(rgba(0, 0, 0, 0.78) 50%, rgba(255, 255, 255, 1) 50%);*/
    
    color: black;
    border-top: none;
    /* box-shadow: 0px -3px 15px 8px white;
    -webkit-box-shadow: 0px -3px 15px 8px white;
    -moz-box-shadow: 0px -3px 15px 8px white;*/
    
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}
.nav_list{
     border: 1px solid black; padding: 2px 4px 2px 4px;  margin-left:2px; background-color:white;
}
.nav_list:hover{
    background-color:rgb(255, 51,0);
}

.pushmenu-left .pushmenu-open #nav-list{
    display: none;
    margin-left:70px;
}


/************* FOOTER ***************/
#pre-footer{
    width: 100%;
    height: 400px;
    position: relative;
    background-color: white;
    z-index: -99999999;
}
#footer{
    width: 100%;
    height: 120px;
    position: relative;
    background-color:#444444;
        z-index: -99999999;
    padding-top: 30px;
}
.footer-column{
    margin-left: 5%;
    width: 200px;
    float: left;
    margin-bottom: 0px;
    vertical-align:baseline;
}

.hva{
    width: 250px;
    height: 50px;
    background-size: 100%;
        background-image: url(image/hva-logo.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 10%;
}

/*

************ PARALLAX *************


.parallax{
    width: auto;
}

[class*="bg__"] {
  height: 800px;
  text-indent: -9999px;
  fix background
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
background-image: url('image/cover.jpg');
    background-size: contain;
    background-position:left top;
    position: relative;
}

.cover {
background-image: url('image/cover.jpg');
    width: inherit;
    position: relative;
    background-repeat: no-repeat;
}


.bg__bar {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax2.jpg
  );
}

.bg__baz {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax3.jpg
  );
}

.bg__bazz {
  height: 100vh;

  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
  );
}
*/




/*

************* DEVICES ***************

*/
/*

smartphones, iPhone, portrait 480x320 phones */
@media (max-width:350px) {  
#book-title{
    font-size: 20px;        
    }
.content{
    overflow-x: hidden;
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
}
.content-pushed{
    width: 60%;
    margin-left: 105%;
    margin-right: 5%;
}
.pushmenu{
    width: 100%;
    }    
.main{
    
}
.pushmenu pushmenu-left pushmenu-open .content{
    width: 100%;
}
.pushmenu-open .main{
    width: 100%;
}


.section p, h2, h3, h1, img, .author{
    margin-left: 1%;
    margin-right: 0;
    font-weight: normal;
}


.pushmenu-left, .pushmenu-left2 {
  left: -100%;
    overflow-y:scroll;
}

.pushmenu-left.pushmenu-open, .pushmenu-left2.pushmenu-open {
  left: 0px;  
  /*  border-right: solid 1px black;*/
    border-right: solid 0px black;
-webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.pushmenu-push, .pushmenu-push2 {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 100%;
}


.pushmenu-left .pushmenu-open #nav-list{
    display: none;
    margin-left:70px;
}

.text{
    font-size: 16px;  
    line-height: 1.3em;
    }




}




/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. 
@media (min-width:481px) {
     
.content{
    overflow-x: hidden;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
@media (min-width:641px) {
      
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/
/*
@media (min-width:800px){
    .content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/
/* tablet, landscape iPad, lo-res laptops ands desktops
@media (min-width:961px) {
      
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}
*/

/* big landscape tablets, laptops, and desktops 
@media (min-width:1025px) {
    
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
} */

/* hi-res laptops and desktops 

@media (min-width:1281px) {
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.content-pushed{
    width: 800px;
    margin-left: 13%;
    margin-right: auto;}
} 