/* *********************************************************************************
*************************** STYLE FOR LAMBDA PAGES ********************************
************************************************************************************

Easy changes :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)  :-)    
1. Colors

00.--- SUMMARY

1.--- GENERAL STRUCTURE !! do not change !! ------------------------------------
1. General

2.--- MENU (left) ------------------------------------------------------------
1. Menu
2. Nav list (button to active push menu)
3. Table of content

3.--- INFO BOX (top) ------------------------------------------------------------
1. Info box
2. Table of informations
3. Bookcover

4.--- READER --------------------------------------------------------------------
1. Section
2. Text titles & font styles
3. Images
4. Reference-list
5. Sidenotes

5.--- TYPOGRAPHY -----------------------------------------------------------------
1. Keyword
2. Important word
3. Keyword-searched
4. Buttons

6.--- NAVIGATION ----------------------------------------------------------------
1. Arrows

7.--- TOOLS ---------------------------------------------------------------------
1. Toolbox (right)
2. Search box
3. Font size
4. Citation box
5. Scrolling indicator

8.--- FOOTER (bottom) ------------------------------------------------------------

9.--- DEVICES ---------------------------------------------------------------------
1. Smartphones, iPhones, portrait (480x320)
2. Portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide
3. Portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones
4. Tablet, landscape iPad, lo-res laptops ands desktops
5. Big landscape tablets, laptops, and desktops
*/






/* ******************************************************* 5. TYPOGRAPHY ******************** */

/* Font-faces used in styles */
@font-face {
    font-family: Hkgrotesk;
    src: url('css/fonts/hkgrotesk-regular-webfont.eot'); /* IE9 Compat Modes */
    src: url('css/fonts/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('css/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('css/fonts/hkgrotesk-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('css/fonts/hkgrotesk-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('css/fonts/hkgrotesk-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: HkgroteskBold;
    src: url('css/fonts/hkgrotesk-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('css/fonts/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('css/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('css/fonts/hkgrotesk-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('css/fonts/hkgrotesk-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('css/fonts/hkgrotesk-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body{
    font-family: "Hkgrotesk";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/************************************
******* CONTENT *********************
************************************/
body {
    margin: 0;
    color:black;
    background:#f4f4f4;
    background-attachment: fixed;
    color: black;
    text-rendering: optimizeSpeed;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x:hidden;
}	






/* Easy changes :-) */

/* Background-color of text on selection */
::-moz-selection {
    background-color:#f30;
    color:white;
}

::selection {
    background-color:#f30;
    color:white;
}

a, a:visited{
    color:black;
    font-family: "HKGroteskbold";
    text-decoration: none;
}

a:hover{
    color:#ff3300;
    font-family: "HKGroteskbold";
    text-decoration: none;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}


/* ******************************************************* 3. INFO BOX (TOP) ******************** */

/**********************
3-1. INC NAVBAR
***********************/

#inc-navbar{
    background-color: white;
    height: 50px;
    padding: 0px;
}

#info-box #inc-navbar img{
    height: 40px;
    width: auto;
    margin: 0px;
    padding: 0px;
    border: 0px;
}


/**********************
3-1. CAROUSEL
***********************/
#carousel-box{
    background-color: #FFE5DE;
}
.well {
    min-height: 20px;
    padding: 0px;
    padding-right: 15px;
    margin-bottom: 20px;
    background-color: #FFE5DE;
    border: 0px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.carousel-content{
/*     padding: 20px;
    bsackground-color: white; */
    background-color: #ffefeb;

}

#info-box .carousel-content .img-responsive{
    padding: 20px;
    width: auto;
    max-height: 250px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px solid #dbdbdb;
    align-self:auto;
/*     background-color: #f4f4f4;
     */}

/**********************
3-1. INFO BOX
***********************
/* Box containing informations related to book ID */
#info-box {
    /*height: auto; */
    overflow: hidden;
    z-index: 44444444444;
    position: relative;
    text-rendering: optimizeSpeed;
    padding-left:15px;
    color:black;
    background-color:#f4f4f4;
    color: black;
    -webkit-box-shadow: 0px 10px 32px -9px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 10px 32px -9px rgba(0,0,0,0.59);
    box-shadow: 0px 10px 32px -9px rgba(0,0,0,0.59);
    
}

#info-box-inside-container{
    color: #f30;
    height: auto;
    border: 1px solid #f30;
}

.info-box-left{
    padding-bottom: 50px;
}

.info-box-right{
    padding-top: 20px;
    padding-bottom: 50px;
}

#info-box-left-img-container{
    background-color:white;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}

#info-box img{
    max-width: 280px;
    width: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid #dbdbdb;
    align-self: center;
    /* padding: 0; */
    margin: 0 auto;
}


/**********************
3-1. INC INFO ON PLATFORM: what is it?
***********************/

#inc-info{
    background-color: #FFE5DE;
    color: #f30;
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-box-shadow: 0px 18px 43px -9px rgba(255,51,0,0.7);
    -moz-box-shadow: 0px 18px 43px -9px rgba(255,51,0,0.7);
    box-shadow: 0px 18px 43px -9px rgba(255,51,0,0.7);
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

/**********************
3-1. LIBRARY TREE
***********************/

#library-tree{
    background-color: #f30;
    color: white;
    margin-right: -15px;
    margin-left: -15px;
    height: 40px;
    -webkit-box-shadow: 0px 10px 32px -9px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 10px 32px -9px rgba(0,0,0,0.59);
    box-shadow: 0px 10px 32px -9px rgba(0,0,0,0.59);
}

#library-tree #breadcrumb{
    padding: 0px;
}

.breadcrumb {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-indent: 0;
    padding-top:10px;
    background-color: #f30;
    border-radius: 0px;
}

.breadcrumb ol{
    text-indent: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    margin: 0px;
    padding: 0px;
    color: white;
}

.breadcrumb>li+li:before {
    padding: 0 0px;
    padding-right: 8px;
    padding-left: 8px;
    color: white;
    content: "/\00a0";
}

#library-tree  #breadcrumb .breadcrumb a{
    color: white;
    background-color: transparent;
    border: 1px solid #f30;
    padding-top: 2px;
    font-family: "HKGroteskbold";
    border-radius: 4px;
    text-decoration: none;
    padding: 4px;
}

#library-tree  #breadcrumb .breadcrumb>.active a{
    color:white;
    background-color: transparent;
    padding-top: 2px;
    font-family: "HKGroteskbold";
    text-decoration: none;
    border: 1px solid white;
}

#library-tree  #breadcrumb .breadcrumb a:hover{
    color: #f30;
    background-color:white;
    /* background-color: white; */
    padding-top: 2px;
    font-family: "HKGroteskbold";
}


.info {
    height: auto;
}

#info-box-book-before, #info-box-book-after{
    padding-left: 0px;
    height: 100%;
    position: absolute;
    padding-right: 0px;
}

.info-box-book-before-button, .info-box-book-after-button{
    background-color:white;
    color:#f30;
    width:50%;
    height: 100%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.info-box-book-after-button{
    float: right;


}


.info-box-book-before-button:hover, .info-box-book-after-button:hover{
    color:white;
    background-color:#f30;
    border: 1px solid #f30;
    cursor: pointer;
}




/* How is written the book's title */
#book-title {
    font-size: 2.6em;
    margin-top: 10px;
    line-height: 1em;
    padding: 0px;
    padding-left:15Px;
    text-align: center;
    padding-top: 40px;
    font-family: "HKGroteskbold";
}

#book-title-box{

}

#book-author{
    color: black;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

#book-keywords{
    font-size: 18px;
    line-height: 1em;
    padding: 20px;
    padding-left:15Px;
    text-align: center;
    background-color:white;
    color:#f30;
}

@media (max-width: 480px){
    #book-title {
        font-size: 3em;
        margin-top: 10px;
        line-height: 1em;
        padding: 0px;
    }
}

#info-box .keyword{
    background-color: rgba(0, 0, 0, 0.12);
    border-radius:5px;
    padding: 5px;
    padding-top:2px;
    padding-bottom: 2px;
    margin-right:4px;
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
    line-height: 2em;
}

#info-box .keyword:hover{
    background-color: rgba(0, 0, 0, 0.19);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.135);
}

#info-box a{
    font-family: "HKGrotesk";
    color: #8e8e8e;
    cursor: pointer;
    text-decoration: none;
}

#info-box a:hover{
    font-family: "HKGrotesk";
    color: #f30;
    cursor: pointer;
}

#info-box .info-box-column-header{
    font-family: "HKGroteskbold";
    width:auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
    text-transform: uppercase;
    text-indent: 0px;
}


#info-box .summary{
    margin-top: 20px;
    font-size: 15px;
}

/***************************************
4-2. TEXT TITLES & FONT STYLES
*****************************************
Defines the typography for texts in reader */

.section{
    font-size: 62.5%;
    clear: left;
    color: black;
    padding-left: 2%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 30px 8px rgba(255,255,255,0.99);
    -moz-box-shadow: 0px 0px 30px 8px rgba(255,255,255,0.99);
    box-shadow: 0px 0px 30px 8px rgba(255,255,255,0.99);
}

.section p, .section h2, .section h3, .section h1, .section img, .references{
    max-width: 580px;
}

/* Title of big part */
.section h2 {
    margin-left: 0;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-right: 0;
    padding-top: 2.8%;
    font-size: 5em;
    line-height: 1.1em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    overflow-y: hidden;
    vertical-align: middle;
    letter-spacing: 2%;
    /*     border-top: 1px solid #dbdbdb;
    */    color: black;
    margin-top: 14%;
}

#chapter1 h2{
    margin-top: 2%;
    border-top: 0px solid #dbdbdb;
}

.shadow{
    /*    height: 400px;
    width: 400px;
    background-color:transparent;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 162px 43px rgba(145,145,145,1);
    -moz-box-shadow: 10px 10px 162px 43px rgba(145,145,145,1);
    box-shadow: 10px 10px 162px 43px rgba(145,145,145,1); */
}

/* Title of sub-part (subtitle) */
.section h3 {
    font-size: 2.7em;
    line-height: 1.3em;
    -webkit-margin-before: 30px;
    -webkit-margin-after: 15px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* Font weight */
.section p,h2,h3,h1,img,.author {
    font-weight: 400;
}

/* Font-size for the reading text: !! do not change the units (em) to pixels !! */
.section p {
    font-size: 2.1em;
    line-height: 1.55em;
    text-rendering: optimizeLegibility;
    max-width: 580px;
    margin-bottom: 1em;
    font-family: "HKGrotesk";
}




p + p{ 
    /*     text-indent: 2.5em;
    */}


@media (max-width: 480px){
    .section p{
        text-indent: 0;
        margin-bottom: 2em;
        font-size: 1.9em;
        line-height: 1.55em;
        text-rendering: optimizeLegibility;
    }

    .section h2{
        margin-left: 0;
        margin-bottom: 0px;
        padding-bottom: 20px;
        padding-right: 0;
        padding-top: 7%;
        font-size: 3.5em;
        line-height: 1.1em;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 5px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        overflow-y: hidden;
        vertical-align: middle;
        letter-spacing: 1%;
        border-top: 0px solid #dbdbdb;
        color: black;
        margin-top: 16%;
    }

    li{
        text-indent: 0px;
        margin: 0px;
        padding: 0px;
        margin-left: 10px;
        text-indent: 1.5em;

    }
    ol {
        list-style-type: disc;
        margin: 0px;
        padding: 20px 0px 20px 0px;
    }
}



/* author: the way the name of the author for each chapter displays */
.section .author {
    margin-left: 0;
    margin-right: 0;
    color:#8e8e8e;
    font-size: 1.7em;
}

/* words: the way the words contained in each chapter display */
.section .words, .section .characterss, .section .timee {
    font-size: 1.7em;
    color:#8e8e8e;
    text-decoration: none;
    margin-bottom: 14px;
}


.references {
    font-size: 1em;
    text-indent: 0px;
    margin-bottom: 40px;
    margin-top:40px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.references p{
    font-size: 1.4em;
    line-height: 1.4em;
    hyphens: auto;
    word-wrap: break-word;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    text-indent: 0px;
    margin-bottom: 1em;
    /*     text-indent:-1em;
    padding-left: 1em; */

}

@media (max-width: 480px){
    .references {
        font-size: 1em;
        text-indent: 0px;
        margin-bottom: 40px;
        margin-top:40px;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

.references a{
    color:black;
    word-break: break-all;
    font-family: "HKGroteskbold";
}

.references a:hover{
    color:#f30;
    text-decoration: none;
}

.references h3{
    font-size: 16px;
    margin:0px;
    padding: 0px;
    -webkit-margin-before:0px;
    padding-bottom: 10px;
    font-family: "HKGroteskbold";
}
/****************************
4-3. IMAGES IN TEXT
*****************************
Style of each images appearing in the reader, in .text */

/* img: style for each image that appears in the text */
img {
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.section img, img.grayscale{
    margin-top:1em;
    margin-bottom: 1.5em;
}
/*  img.grayscale {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
filter: gray;
-webkit-filter: grayscale(100%); 
-webkit-transition: all .1s ease; 
-webkit-backface-visibility: hidden;
}

img.grayscale:hover {
filter: none;
-webkit-filter: grayscale(0%);
} */

.section .img-caption{
    font-size: 14px;
    margin-bottom: 1.5em;
    text-indent: 0px;
    font-family: "HKGroteskbold";
}




/*******THE CONTENT********************/
#content {
    opacity: 0;
    margin-bottom: 100px !important;
    margin-top: 40px;
}

a {
    text-decoration: none;
}


/********* JOSIP'S PART **********/

/* Interactions: horizontal Scrollbar for the chapters */
.horizScroll, .subScroll {
    /*  width: 0%;
    height: 2px;
    max-width: 100%;
    position: absolute;
    top: 0;
    padding: 0; */
    /*width:100%;*/
    height: 0%;
    max-height: 100%;
    position: absolute;
    top: 0;
    padding: 0;
}

.horizScroll {
    width: 100%;
    background-color: rgba(255, 51, 0, 0.13);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left:2px solid #f30;
}

.horizScroll, .subScroll{
    color:white;
}

#toc_wrapper {
    margin-top:10px;    
}

#toc_wrapper h2 {
    position: relative;
    margin: 0;
    margin-bottom: 3px;
    margin-top: 3px;
}

.toc_number{
    text-align: left;
    font-size: 12px;
    line-height: 14px;
    float: left;
    padding-left:4px;
}

.toc_title{
    margin-left: 20px;
    font-size: 12px;
    font-family: "HKGroteskbold";
    line-height: 14px;
    padding-right: 2px;
    margin-bottom: 0px;
    hyphens: auto;
}

.toc_author{
    font-size: 11px;
    line-height: 13px;
    margin-left: 20px;
    padding-bottom: 4px;
}



a.page-scroll > h2 {

}

a.page-scroll > h2 span {

}

a.page-scroll:hover, a.page-scroll:active, a.page-scroll:link, a.page-scroll:visited {
    text-decoration: none;
}

/*******MENU WITH THE TOC THAT******************
********COMES IN SLIDING FROM THE LEFT*********/
#menu {			
    /*left: -16.66666667%;*/
    padding: 0;
    height: 100%;
    position:fixed;
    z-index: 999999999999999999999999;
    max-width: 100%;
    background-attachment: fixed;   
    left: 0;
    /* 
    background: -webkit-linear-gradient(#f30, rgb(255, 213, 203)); For Safari 5.1 to 6.0
    background: -o-linear-gradient(#f30, rgb(255, 213, 203)); For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#f30, rgb(255, 213, 203)); For Firefox 3.6 to 15
    background: linear-gradient(#f30, rgb(255, 213, 203)); Standard syntax  */
}


#toc_wrapper{
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0;
    background-color: white;
    /*  border-right: 1px solid #dbdbdb; */
    padding-bottom: 4%;
    position: absolute;
    -ms-overflow-style: none;
}

#toc_wrapper::-webkit-scrollbar {
    display: block;
}

#menu-right-wrapper {
    padding-top: 8%;
    padding-left:5%;
    padding-right: 5%;
}

.toggle_menu {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: white;
    vertical-align: middle;
    z-index: 99999999999999999999999999999999;
    right: -4%;
    position: absolute;
    border-left: 0px solid black;
    width: 4%;
    height: 100%;

    /* background-color: red; */
}

.toggle_menu:hover #menu_bar{
}


.toggle_menu_left_button{
    width: 999PX;
    height: 0px;
    bottom: 4%;
    /* left: 60%; */
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform-origin: 0% 40%;
    transform-origin: 0% 40%;
    color: black;
    text-overflow: clip;
    position: absolute;
    font-size: 15px;
    text-overflow: ellipsis;
    z-index: 99999999999999999999999999999999;
    /* font-style: italic; */
    font-family: "HKGroteskbold";
    /* text-transform: uppercase; */
    font-size: 14px;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    display: block;
}

.toggle_menu_left_button:hover, .toggle_menu_left_button div:hover{
    cursor: pointer;

}

.toggle_menu_left_button div:hover > #menu_bar{
    background: rgb(255, 213, 203);

}



.toggle_menu_left_button div{
    width: 50%;
    z-index: 99999999999999999999999999999999;


}

.toggle_menu_right {
    padding: 1px;
    padding-top: 55%;
    /* margin-right: 60%; */
    display: none;
    padding-bottom: 10px;
    font-size: 18px;
    color: white;
    vertical-align: middle;
    z-index: 99999999999999999999999999999999;
    height: 100%;
    left: -24%;
    position: absolute;
    /*background-color:#f30;*/
    background-color: white;
    width: 24%;
    -webkit-box-shadow: -9px 0px 13px -8px rgba(0,0,0,0.09);
    -moz-box-shadow: -9px 0px 13px -8px rgba(0,0,0,0.09);
    box-shadow: -9px 0px 13px -8px rgba(0,0,0,0.09);
}

.toggle_menu_right .toggle_menu_right_button{

    width: 130px;
    /* height: 50px; */
    /* margin-top: 50%; */
    height: auto;
    padding-right: 50%;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform-origin: 20% 40%;
    transform-origin: 20% 40%;
    color: black;
    font-family: "HKGroteskbold";
    text-transform: uppercase;
    font-size: 15px;
}

.toggle_menu_right:hover{
    background-color:white;
    cursor: pointer;
    -webkit-box-shadow: -9px 0px 13px -8px rgba(0,0,0,0.29);
    -moz-box-shadow: -9px 0px 13px -8px rgba(0,0,0,0.29);
    box-shadow: -9px 0px 13px -8px rgba(0,0,0,0.29);
}




.menu-publication-title{
    padding-top: 8%;
    padding-left: 5%;
    font-size: 15px;
    line-height: 18px;
    font-family: "HKGroteskbold";
}

/********************************************************
2-3. TABLE OF CONTENT (left, inside the pushmenu)
*********************************************************
Table of content is contained in pushmenu, it shows the different parts of the book and can be clicked to navigate through them */

/* Table of contents: title for big part */
#menu h2 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin:10px;
    text-align: left;
    padding-top:4px;
    background-color:white;
    font-size: 14px;
    line-height: 18px;
    font-family: "HKGrotesk";
}


/* Table of contents: when the user goes over a part of the book */
#menu h2:hover{
    cursor: pointer;
    color: black;
}

#toc_wrapper h2 a {
    color: black;
}


/*******VERTICAL BAR THAT*********
********OPENS UP THE MENU********/
#menu_bar {
    height: 100%;
    position: fixed;
    color: black;
    width: 4%;
    background-color:#FFE5DE;

    cursor: pointer;
    -webkit-box-shadow: 9px 0px 13px -8px rgba(0,0,0,0.09);
    -moz-box-shadow: 9px 0px 13px -8px rgba(0,0,0,0.09);
    box-shadow: 9px 0px 13px -8px rgba(0,0,0,0.09);
}

#menu_bar:hover{
    background-color:white;
    -webkit-box-shadow: 9px 0px 13px -8px rgba(0,0,0,0.29);
    -moz-box-shadow: 9px 0px 13px -8px rgba(0,0,0,0.29);
    box-shadow: 9px 0px 13px -8px rgba(0,0,0,0.29);
}



/*******VERTICAL SCROLL BAR*******/
#menu_bar_scroll {	
    height: 0%;
    width: 1.8%;
    position: fixed;
    /* background-color: #f30; */
    display: block;
    background-color:#f30;

}


#menu_bar_title_button{
    width:400px;
    height:50px;
    margin-top:50px;
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
    text-align: right;
    /*         -ms-transform-origin: 10% 100%; IE 9
    -webkit-transform-origin: 10% 100%; Chrome, Safari, Opera
    transform-origin: 10% 100%;
    */
    font-size: 18px;

    color:black;
}


@media (max-width: 768px){

    .menu-publication-title{
        font-size: 17px;
        line-height: 20px;
    }

    .toc_number{
        text-align: left;
        font-size: 17px;
        line-height: 20px;
        float: left;
        padding-left:8px;
    }
    .toc_title{
        margin-left: 30px;
        font-size: 17px;
        font-family: "HKGroteskbold";
        line-height: 20px;
        padding-right: 2px;
        margin-bottom: 0px;
        hyphens: auto;
    }

    .toc_author{
        font-size: 17px;
        line-height: 20px;
        margin-left: 30px;
        padding-bottom: 4px;
    }

    #menu{
        -webkit-box-shadow: 10px 0px 16px 1px rgba(255,255,255,1);
        -moz-box-shadow: 10px 0px 16px 1px rgba(255,255,255,1);
        box-shadow: 10px 0px 16px 1px rgba(255,255,255,1);
        margin-right: 0px;
        padding-bottom: 150px;
    }

    #toc_wrapper{
        margin-right: 0px !important;
        padding-bottom: 100px;

    }
    .toggle_menu{
        color:transparent;
    }
    .toggle_menu_left_button div{
        color:transparent;

    }


}

/*******MENU TOGGLE BUTTON**********/

.close_menu {
    margin-left:0%;
}

/****************************************
******* HEADER  **********************
***************************************/
#nav_test{
    background-color:red;
    top:800px;
    height:300px;
}


#tool-bar-container{
    position: fixed;
    top:0px;
    left:0px;
    width: 80%;
    /*  -webkit-box-shadow: 9px -3px 20px 23px rgba(255,255,255,1);
    -moz-box-shadow: 9px -3px 20px 23px rgba(255,255,255,1);
    box-shadow: 9px -3px 20px 23px rgba(255,255,255,1);  */
    background-color: white;
    height: 1px;
    z-index:99;
}

#search-button, #files-button, #copy-button, #print-button, #tools-button, #share-button{
    padding:0px;
    padding-top:5px;
    height:23px;
    /* background-image: url(css/image/search.png); */
    background-size: contain;
    width: 30px;
    cursor: pointer;
    float:right;
    position: absolute;
    top:5px;
    color:black;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

#search-button:active, #files-button:active, #copy-button:active, #print-button:active, #tools-button:active, #share-button:active{
    border: 1px solid #ff3300;
}




#print-pannel input{
    background-color:#dbdbdb;
    display: inline-block;
    border-radius: 5px;
    padding:1px;
    padding-left:4px;
    padding-right: 4px;
    margin-right: 4px;
}

#share-button{
    right:4px;
}
#tools-button{
    right:34px;
}
#print-button{
    right:64px;
}
#copy-button{
    right:94px;
}
#files-button{
    right:124px;
}
#search-button{
    right:154px;
}

#files-pannel, #copy-pannel, #print-pannel, #tools-pannel, #share-pannel{
    width: 300px;
    background-color:rgb(255, 234, 228);
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.18);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.18);
    position:fixed;
    top:40px; 
    z-index:99;
    height: auto;
    border-radius: 5px;
    display: none;
    font-size:13px;
    padding:4px;
    padding-left:5px;
    transition:0s 5s;
    right:20px;
}

#search-pannel{
    width: 200px;
    position:fixed;
    top:20px; 
    z-index:99;
    height: auto;
    border-radius: 5px;
    display: none;
    font-size:13px;
    padding:4px;
    padding-left:5px;
    transition:0s 5s;
    right:180px;
}

.close{
    position: absolute;
    right: 3px;
    top:3px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.toggle-box {
    display: none;
}

.toggle-box + label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 5px;
    border-top: 1px solid #8e8e8e;
}

.toggle-box + label + div {
    display: none;
    margin-bottom: 10px;
}

.toggle-box:checked + label + div {
    display: block;
}

.toggle-box + label:before {
    background-color: rgba(177, 177, 177, 0.51);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    content: "+";
    display: block;
    float: right;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin-right: 2px;
    text-align: center;
    width: 15px;
    z-index:99;}

.toggle-box:checked + label:before {
    content: "\2212";
    z-index:99;
}


.icon{
    width:30px;
    height:30px;
    cursor: pointer;
    box-shadow:none;
    margin:0;
    margin-right:15px;
}

/**************************************
******* FONT-SIZE UP/DOWN *************
**************************************/


#button1{
    position: relative;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    display: inline-block;

}
#button2{
    position: relative;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
}


.print{
    background-color:#c7c7c7;
    font-size: 13px;
    cursor: pointer;
    float: left;
    margin-top:50px;
}

/**************************************
******* NEXT AND PREV *****************
**************************************/
#buttons_wrapper{
    display: none;
}

.search_nav {
    /*position: absolute;*/
    position: fixed;
    margin-top: -35px;
    background-color:transparent;
    box-shadow: none;
    border:none;
}

#prev {
    right:35px;
}

#next {
    right:15px;
}

#cancel{
    position: fixed;
    margin-top: -35px;
    background-color:transparent;
    box-shadow: none;
    border:none;
    right:55px;
}

.search-found {
    color: black;
}

.search-notfound {
    /* 		color: #c7c7c7 !important;
    */	}

.highlight {
    background-color: #f30;
}


.form-control:focus{
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
}



/****************************
******** ARROWS *************
****************************/

#arrows #up {
    position: fixed;
    top: 44%;
    z-index: 99;
    font-size: 20px;
    border-radius: 4px;
    background-color: #f4f4f4;
    border:none;
    padding: 4px;
}

#arrows #down {
    position: fixed;
    top: 50%;
    z-index: 99;
    font-size: 20px;
    border-radius: 4px;
    background-color: #f4f4f4;
    border:none;
    padding: 4px;
}

#arrows #down a, #arrows #up a{
    color:black !important;
}

#arrows #down:active, #arrows #up:active{
    color:black !important;
}

#arrows #up a:focus, #arrows #down a:focus{
    color:black !important;
}

#arrows #up:focus, #arrows #down:focus{
    color:black !important;
}

#arrows #up a:active, #arrows #down a:active{
    color:black !important;
}

#arrows #up:hover, #arrows #down:hover{
    color: #f30;
    background-color:white;
    border:1px solid #f30;
}

@media (max-width: 768px){
    #arrows{
        position: fixed;
        right:2%;
        z-index: 99999999999999999999999;
        margin-left:96%;
    }

    #arrows #up {
        position: fixed;
        top: 35%;
        z-index: 99;
        font-size: 20px;
        border-radius: 4px;
        background-color: #f4f4f4;
        border:none;
        padding: 4px;
    }

    #arrows #down {
        position: fixed;
        top: 50%;
        z-index: 99;
        font-size: 20px;
        border-radius: 4px;
        background-color: #f4f4f4;
        border:none;
        padding: 4px;
    }
}

/********************************
7-2. SEARCH BOX (right)
*********************************
Search box is where the user can enter keyword (in input) and look for words in text */

#live-search {
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
}

/* where the user writes */
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

#filter {
}

#filter > * {
}

/* how is the text the user writes when searching */
#filter-count {
    font-size: 13px;
    font-family: "Hkgrotesk";
    text-align: right;
    position: fixed;
    color: #8e8e8E;
    z-index: 99;
}

#filter.text-input {
}

input#filter {
}

input:hover {
    border-radius: 5px;
}

/* how text of the book displays when a result is found */
.search-found {
    color: #000;
}

/* how "importantword" of the book displays when a result is found */
.search-found .importantword {
    font-style: normal;
    cursor: text;
    color: #000;
    border-bottom: 0 dotted #000;
}

/* how "keyword-searched" displays when a result is found */
.search-found .keyword-searched {
    margin-bottom: 0;
    background-color: #ff0;
    cursor: text;
    border-radius: 5px;
    color: #000;
}

/* how the text of the book displays when no result is found */
.search-notfound {
    /* 	color: rgba(203,203,203,0.22);
    */}

/* how "importantword" of the book displays when a result is found */
.search-notfound .importantword {
    /* 	font-style: normal;
    cursor: text;
    color: rgba(203,203,203,0.22);
    border-bottom: 0 dotted #000; */
}

/* how "keyword-searched" displays when no result is found */
.search-notfound .keyword-searched {
    /* 	margin-bottom: 0;
    background-color: rgba(255,255,255,0);
    cursor: text;
    color: rgba(203,203,203,0.22); */
}

.allWords {
    font-size: 13px;
    background-color: #fff;
    width: auto;
    position: fixed;
    padding-left: 2px;
    list-style-type: none;
    cursor: pointer;
    padding: 2px;
    margin-top: 2px;
}

/* Next and prev buttons that appears to go to next word searched */


.search-found {
    color: black;
}

.search-notfound {
    color: black;
}

.highlight {
    /*display: inline-block; 
    width: 50%;
    height: 50%;
    text-align: center;*/
    background-color: #c7c7c7;
    /*background: -webkit-radial-gradient(10px, white, white, #c7c7c7); /* Safari 5.1 to 6.0 */
    /*background: -o-radial-gradient(10px, white, white, #c7c7c7); /* For Opera 11.6 to 12.0 */
    /*background: -moz-radial-gradient(10px, white, white, #c7c7c7); /* For Firefox 3.6 to 15 */
    /*background: radial-gradient(10px, white, white, #c7c7c7); /* Standard syntax (must be last)*/
}

/*.search-found {
background: -webkit-radial-gradient(10px, white, white, #c7c7c7); /* Safari 5.1 to 6.0 
background: -o-radial-gradient(10px, white, white, #c7c7c7); /* For Opera 11.6 to 12.0 
background: -moz-radial-gradient(10px, white, white, #c7c7c7); /* For Firefox 3.6 to 15 
background: radial-gradient(10px, white, white, #c7c7c7); /* Standard syntax (must be last) *
}*/


#buttons_wrapper{
    display: none;
}

/* Autocomplete list of items */

.ui-autocomplete {
    list-style: none;
    position: fixed;
    padding-top: 2px;
    -webkit-padding-start: 0px;
    z-index: 99;
}

.ui-menu-item {
    background-color: white;
    cursor: pointer;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    padding-left:3px;
    z-index: 99;

}

.ui-menu-item:hover{
    background-color: #dbdbdb;
}

.ui-menu-item:focus {
    background-color: #f30;
}




/*************************************
******* IN TEXT REFERENCE BOX ****************
*************************************/
.in-text a, .in-text, .in-text a:visited{
    border-bottom: dashed 1px black;
    color: black;
    text-decoration: none;
    font-family: "HKGrotesk";
}

.in-text a:hover, .in-text:hover{
    color: #f30;
    text-decoration: none !important;
    border-bottom: dashed 1px #f30;
    font-family: "HKGrotesk";
}

.in-text a:focus, .in-text:focus, .in-text a:active, .in-text:active{
    text-decoration: none !important;
}

/********THE BOX**********************/
.tip {
    padding:0px 3px 5px 3px;
    position: absolute;
    font-size: 14px;
    word-wrap:break-word;
    hyphens: auto;
    line-break: strict;
    word-break:break-word;
    /* border-radius: 8px; */
    font-family: "HKGrotesk";
    border-radius: 5px;
    border:1px solid #dbdbdb;
    width: 300px;
    text-indent: 0;
}

/********THE TEXT*********************/
.tip p {
    margin: 0;
    font-family: "HKGrotesk";
    text-indent: 0;
}

.tip p a{
    color:red;
}



/***************** POPOVER ***************************/

.popover{
    padding:3px;
    position: absolute;
    font-size: 14px;
    word-wrap:break-word;
    hyphens: auto;
    line-break: strict;
    word-break:break-word;
    /* border-radius: 8px; */
    font-family: "HKGrotesk";
    border-radius: 5px;
    border:1px solid white;
    background-color:rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 26px 10px white;
    -moz-box-shadow: 0px 0px 26px 10px white;
    box-shadow: 0px 0px 26px 10px white;
}

.popover p{
    margin: 0px;
    color: black;
    text-indent: 0;
    padding: 0px;
}
.popover p a{
    text-decoration: underline;
    color:red;
    font-family: "HKGrotesk";
}

.popover .arrow{
    border:1px white;
    -webkit-box-shadow: 0px 0px 26px 10px white;
    -moz-box-shadow: 0px 0px 26px 10px white;
    box-shadow: 0px 0px 26px 10px white;
    background-color: white;
}

/********THE X BUTTON******************/
#x {
    position: inherit;
    right: -6px;
    top: -6px;
    border-radius: 9px;
    border: 1px solid red;
    background-color: orange;
    padding: 0 4px;
    text-align: center;
}



#x a {
    text-decoration: none;
    color: black;
}
f

.capitalism, .capital, .creativity, .art, .contemporary, .culture, .ideological, .social, .labor, .attention, .image, .production, .capitalism, .art, .state, .life, .public, .city, .economics, .production, .development, .art, .social, .avant-garde, .world, .big, .Other, .art, .urban, .cultural, .project, .creativity, .Belgrade, .Rog, .capital, .creative, .collective, .urban, .factory, .gentrification, .art, .political, .social, .culture, .autonomy, .public, .work {
    color:blue;
    /* 
    color:#f30;
    */
}

/********CITATIONS************************/

.underline {
    background-color:rgba(255, 255, 0, 0.5);
}

.remove_highlight {
    background-color: white;
}

#pin_wrapper{
    margin-top: 10px;    
}

#pin {
    color:#5b5b5b;
    position: absolute;
    cursor: move;
    font-size: 14px;
}

#pin:hover{
    color: rgb(63, 222, 63);
}
/*.pin-clone {
color: blue;
}*/

.ui-draggable-handle {
    font-size: 10px;
    color: rgb(63, 222, 63);
    cursor: move;
    z-index: 999999999999999999999999;
    padding-left:4px;
}

.pin-form {
    display: none;
    color: rgba(0,255,0,1);
}

.pin-input {
    display: inline;
    width: auto;
    font-size: 15px;
    font-family: "Hkgrotesk";
    border-style: none;
    background-color: rgb(240, 255, 240);
    color: rgb(63, 222, 63);
    padding: 0;
    margin-left:2px;
    margin-top: 1px;
    border-radius: 8px;
    padding-left: 4px;
    border:1px solid rgb(63, 222, 63);
}

.save-pin {
    display: inline;
}

.pin-close{
    font-size: 16px;
    cursor: pointer;
    color: rgb(63, 222, 63);
}

.pin-close:hover{
    color: #f30;
}

#tools {
    top: 2%;
    right: 1%;
    /*position: static;
    bottom: 5px;
    display: inline-block;*/
    position: fixed;
}

.full-citation {
    text-align: left;
    word-wrap: break-word;
    background-color: #ffffff;
    overflow-y: auto;
    border:none;
    font-size: 10px;
    line-height: 12px;
    min-height: 6em;
    max-height: 9em;
    width: 100%;
    margin: 0px;
    border-radius: 5px;
    color: #5b5b5b;
/*     border:1px dashed #dbdbdb;
     */    background-color:#f4f4f4;
}

#citation-box {
    top: 10%;
    right: 1%;
    position: fixed;
    /*
    position: absolute;
    right: 2%;
    */
    border: 1px solid black;
    border-radius: 5px;
    background-color: #c7c7c7;
    width: 30%;
    min-height: 15%;
}

/********ON SUCCESFUL COPY****************/
.confirmation {
    background-color: #82ff82;
    display: inline;
    margin-left: 5%;
    font-size:13px;
    /*margin: auto;*/
}


/********************************************
********FOOT-/SIDENOTES**********************
********************************************/
#sidenote-wrapper {
    margin-left: 2%;
    width: 15%;
    /*     width: 13%;
    */    /*padding-right: 2%;*/
    /*     background-color:white;
    height: 999999999999999999999999999px; */
    height: auto;
}


#chapter8 {    
}

#chapter8 ol {
    list-style: decimal;
    text-indent: 0px;
    margin-left:25px;
    font-size:9px;
    line-height: 12px;
    counter-reset: item;
    list-style-type: none;
}



#chapter8 ol li:before { 
    content: counter(item) ""; 
    counter-increment: item; 
}

/*******INDIVIDUAL BOXES*******************/
#chapter8 ol li {
    padding:0px 3px 5px 3px;
    position: absolute;
    font-size: 1.25em;
    line-height: 1.2em;
    /* border-radius: 8px; */
    font-family: "HKGroteskBold";
    display: inline-block;
    float: left;
}


/* THIS IS THE SAME AS .sidenote BELOW */
#chapter8 ol li p{
    color: black;
    font-family: "HKGrotesk";
    font-weight: normal;
    font-size: 12px;
    line-height: 1.1em;
    table-layout: fixed;
    overflow: hidden;
    -ms-hyphens:auto;
    hyphens: auto;
    -ms-hyphenate-limit-lines:no-limit;
    hyphenate-limit-lines:no-limit;
    word-break: normal;
    word-wrap: break-word;
}

#chapter8 ol li p a{
    color:black;
    font-family: "HKGroteskbold";
    word-wrap:break-word;
    hyphens: auto;
    -ms-hyphens:auto;
    word-break: break-all;
    -ms-word-break:break-all;
    white-space: pre-wrap;
}

#chapter8 ol li p a:hover{
    color:#f30;
    text-decoration: none;

}
.sidenote {
    /*z-index: 9999999999999999999999999999;*/
    width: 100%;
    left: 40px;
    -webkit-margin-after: 3px;
    padding: 2px;
    padding-top: 4px;
    max-width: 100%;
    border-radius: 5px;
}

.sidenote p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footnoteRef{
    text-decoration: none;
    color: #f30;
}
.footnoteRef:hover{
    text-decoration: underline;
}

.focusSidenote{
    opacity: .7;
}




/********************************************/

a sup{
    font-family: "HKGroteskBold";
    vertical-align: 75%;
    color:black;
    text-decoration: none;
    /*font-size: small;*/
}

a sup:hover, a sup:active, a sup:focus{
    color:#f30;
    text-decoration: none !important;
}

li{
    font-size:1em;
}





ol {
    list-style-type: disc;
    text-indent: 10px;
}






/******** TUNING BOOTSTRAP ********/
.section .keyword-button{
    border-radius:5px;
    padding: 2px;
    padding-left:5px;
    padding-right: 5px;
    margin-right:4px;
    margin-bottom: 8px;
    background-color: #f4f4f4;  
    color: black;  
    border:none;
    height: auto;
    /* 
    box-shadow: 0 3px 5px rgba(0,0,0,.135);
    */
}

.section .keyword-button:hover {
    border-radius:5px;
    padding: 2px;
    padding-left:5px;
    padding-right: 5px;
    margin-right:4px;
    margin-bottom: 8px;
    background-color: rgba(28, 51, 229, 0.1);  
    color: blue;  
    border:none;
    height: auto;
    box-shadow: none;
    /* 
    box-shadow: inset 0 3px 5px rgba(0,0,0,.135);
     */
}
.section .btn.active{
/*     box-shadow: inset 0 3px 5px rgba(0,0,0,.135);
     */    background-color: rgba(28, 51, 229, 0.3);
    color: blue;  
}
.section .keyword-button:focus{
    box-shadow: 0 3px 5px rgba(0,0,0,.135);
    background-color: rgba(28, 51, 229, 0.1);  
    color: blue;  
}

/******* MENU RIGHT *******/


.extra{
    background-color:#f4f4f4;
    border-radius:5px;
    padding: 5px;
    padding-top:2px;
    padding-bottom: 2px;
    margin-right:4px;
    line-height: 2em;
    color: black !important;
    font-family: "HKGrotesk";
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
    margin-top:0px;

}

.extra:hover{
    background-color:#dbdbdb;

    text-decoration: none;
    color: black;
    font-family: "HKGrotesk";
    /* background-color: rgba(0, 0, 0, 0.19);
     box-shadow:inset 0 3px 5px rgba(0,0,0,.135);
    */
}

.extra:active{
    border: 1px solid #ff3300;
    color: black;
    font-family: "HKGrotesk";
}

.extra a, .extra a:visited, .extra a:focus, .extra a:hover{
    color:black !important;
    font-family: "HKGrotesk";
}

.extra-btn{
    background-color: #dbdbdb;
    border-radius:5px;
    padding: 5px;
    padding-top:2px;
    padding-bottom: 2px;
    margin-right:4px;
    line-height: 2em;
    color: black;
    white-space:nowrap;
}

.extra-btn:hover{
    text-decoration: none;
    color: black;
    cursor: pointer;
    white-space:nowrap;
}

#keyword-show-all{
    background-color: rgba(28, 51, 229, 0.1);
    color: blue !important;
    box-shadow: 0 3px 5px rgba(0,0,0,.135);
}

#keyword-show-all:active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.135);
    background-color: rgba(28, 51, 229, 0.3);
}

#keyword-show-all:focus{
    box-shadow: 0 3px 5px rgba(0,0,0,.135);
    background-color: rgba(28, 51, 229, 0.1);  
    color: blue;  
}




.section .keyword-button{
    border-radius:5px;
    padding: 2px;
    padding-left:5px;
    padding-right: 5px;
    margin-right:4px;
    margin-bottom: 8px;
    background-color: #f4f4f4;  
    color: black;  
    border:none;
    height: auto;
}

.section .keyword-button:hover {
    border-radius:5px;
    padding: 2px;
    padding-left:5px;
    padding-right: 5px;
    margin-right:4px;
    margin-bottom: 8px;
    background-color: rgba(28, 51, 229, 0.1);  
    color: blue;  
    border:none;
    height: auto;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.135);
}
.section .btn.active{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.135);
    background-color: rgba(28, 51, 229, 0.3);
    color: blue;  
}
.section .keyword-button:focus{
    box-shadow: 0 3px 5px rgba(0,0,0,.135);
    background-color: rgba(28, 51, 229, 0.1);  
    color: blue;  
}










#highlight-show-all{
    background-color:rgba(255, 255, 69, 0.2);
    color:rgb(222, 188, 0);
    box-shadow: 0 3px 5px rgba(0,0,0,.135);
}

#highlight-show-all:active{
    background-color:rgba(255, 255, 69, 0.5);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.135);
}

#menu-right{
    position: fixed;
    right: 0px;
    left: auto;
    /* padding: 10px; */
    /* margin: 0px; */
    padding: 0px;
    height: 100%;
    border: none;
    background-color: white;
    font-family: "HKGrotesk";
    z-index: 9999999999999999999999999999;
}

#menu-right .panel-group, #menu-right .panel-group:hover, #menu-right .panel-group:focus, #menu-right .panel-group:active{
    margin-bottom: 0px;
    background-color: transparent;
    border:none;
    color: black;
    padding: 0px;
    margin: 0px;
}


.panel-group .panel {
    margin-bottom: 0;
    border-radius: 8px;
    background-color: transparent;
    border:none;

}

.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #dbdbdb;
    border-bottom: 0px solid #dbdbdb;

}

.panel-body{
    font-size: 13px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 8px;
    border:none;
    color: black;
    margin-top: 4px;
    border-bottom: 0px solid #dbdbdb;
}


.panel-default>.panel-heading{
    border-radius: 8px;
    padding: 7px;
    background-color: #f4f4f4;
    border:none;
    /*     box-shadow: 0 3px 5px rgba(0,0,0,.135);
    */    font-family: "HKGrotesk";
}

.panel-heading a{
    font-family: "HKGrotesk";
}
.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus{
    color: black;
    text-decoration: none;
    background-color: #f4f4f4;
}

.panel-default>.panel-heading:hover{
    color: black;
    text-decoration: none;
}

.panel-default>.panel-heading:focus{
    color: black;
    text-decoration: none;
}

.panel-default>.panel-heading:active{
    color: black;
    text-decoration: none;
}

.panel-body p{
    margin: 0px;
    padding-top:5px;
    border:none;
    font-size:11px;
    background-color: transparent;
    color: black;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
    color: black;
}

/************** tools on selection ************/

.on-selection{
    display: none;
    width: auto;
    height: auto; 
    position: fixed;  
    margin: 0; 
    padding: 0; 
    -webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3)); 
    z-index:9999999999999999999;
}

.btn-group-vertical .btn-primary {
    color: black;
    background-color: #f4f4f4;
    border: 0px solid #8e8e8e;
    text-align: left;
    text-transform: none;

}

.btn-group-vertical .btn-primary:hover{
    background-color: #e3e3e3;
    cursor: pointer;
    border-color: #8e8e8e;
    color: black;
    text-transform: none;
    border: 0px solid #8e8e8e;
}

.btn-group-vertical .btn-primary:active{
    color: black;
    background-color:#f4f4f4; !important;
}

.btn-group-horizontal{
    width: 100%;
    max-width: 100%;
}

.btn-group-horizontal .btn-primary{
    margin: 0px;
    padding: 0px;
}




.btn-primary:focus{
    color: black;
    background-color:#f4f4f4; !important;
}


.delete-underline{
    background-color: #f4f4f4;
    border: 0px solid #8e8e8e;
    display: none;
    position: fixed;
    width: auto; 
    height: auto; 
    margin: 0; 
    padding: 0; 
    -webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3));
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.3)); 
    z-index:9999999999999999999;  
    padding: 4px;
}

.delete-underline:hover{
    background-color: #e3e3e3;
    cursor: pointer;
    border-color: #8e8e8e;
    color: black;
    text-transform: none;
    border: 0px solid #8e8e8e;
}

.tooltip-inner {
    text-align: left;
}

/* Tooltip */
/*.tooltip > .tooltip-inner {
    background-color: #73AD21; 
    color: #FFFFFF; 
    border: 1px solid green;
    width: 350px; 
}*/

/* Tooltip on top */
/*.tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}*/

/* Tooltip on bottom */
/*.tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid blue;
}*/

/* Tooltip on left */
/*.tooltip.left > .tooltip-arrow {
    border-left: 5px solid red;
}*/

/* Tooltip on right */
/*.tooltip.right > .tooltip-arrow {
    border-right: 5px solid black;
}*/

.caret{
    display:none;
}

.dropdown-menu{
    position: absolute;
    background-color: red;
}

.dropdown-menu > li > a {
    white-space: normal;
}

blockquote {
    margin: 2em 0 2em 2.5em;
    font-size: inherit;
    /* 
    font-size: 1.22em;
    */
    border-left: 0px;
    /*  font-family: "Georgia";*/    
}

blockquote p{
    line-height: 1.55em !important;
}

@media (max-width: 480px) {
    blockquote{
        margin: 0 0 10px;
        font-size: 1.12em;
        line-height: 0.7em;

        /* font-family: "Georgia";*/
    }
}

.footer{
    font-size: 10px;
    color: #8e8e8e;
}




.ui-effects-transfer {
    color: red;
    background-color: rgba(255, 51, 0, 0.13);
    border-radius: 5px;
}


/********* Lines counter **********/

#par_numbr{
    height: auto;
    z-index: 0;
}

.p_number{
    position:absolute;
    right:2%;
    margin:0px;
    line-height: 2.2em;
    vertical-align: top;
    text-align: right;
    color: #c7c7c7;
    font-size: 1.05em;
}





/********* XS DEVICES MENU **********/
#menu-bar-xs{
    position: fixed;
    z-index: 99;
    bottom:0px;
    z-index: 99999999999999999999999999999;
    padding: 0px;

}
#panel,  #panel2, #flip2, #panel3, #flip3, #panel4, #flip4, #panel5, #flip5, #panel6, #flip6 {
    padding: 5px;
    text-align: center;
    background-color: #f4f4f4;
    z-index: 99;
    border-radius: 5px;
    box-shadow: none;
}



#flip{
    background-color: #f30;
    color:white;
    z-index: 99;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    box-shadow: none;
}


#flip i, #flip2 i, #flip3 i, #flip4 i, #flip5 i, #flip6 i{
    margin-right: 0px;
}

#flip, #flip2, #flip3, #flip4, #flip5, #flip6{
    width: 16.666667%;
    display: inline-block;
    overflow: hidden;
    text-overflow:clip;
    height: 50px;
}

.panel-open{
    box-shadow: inset 0 3px 5px rgba(0,0,0,.135);
    background-color:red;
}

#panel, #panel2, #panel3, #panel4, #panel5, #panel6 {
    padding: 5px;
    display: none;
    background-color: white;
    -webkit-box-shadow: 0px -22px 30px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px -22px 30px 5px rgba(255,255,255,1);
    box-shadow: 0px -22px 30px 5px rgba(255,255,255,1);
}

.panel_container{
    background-color:white;  
    /*     border:1px solid #dbdbdb;
    */    border-radius: 5px;
}
#panel6 #live-search {
    margin-bottom: 0px;
}

#panel6 .form-control {
    display: block;
    width: 90%;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
}

#panel6 fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

#panel6 #filter {
}

#panel6 #filter > * {
}

/* how is the text the user writes when searching */
#panel6 #filter-count {
    font-size: 13px;
    font-family: "Hkgrotesk";
    text-align: right;
    position: fixed;
    color: #8e8e8E;
    z-index: 99;
}

#panel6 #filter.text-input {
}

#panel6 input#filter {
}

#panel6 input {
    width: 200px;
    font-size: 15px;
    font-family: "Hkgrotesk";
    border-style: none;
    color: #000;
    padding: 0;
    border-bottom: 1px solid #8e8e8e;
}

#panel6 input:hover {
    border-radius: 5px;
}


@media (max-width: 768px){
    #flip i, #flip2 i, #flip3 i, #flip4 i, #flip5 i, #flip6 i{
        margin: 0 auto;
        align-content: center;
        font-size: 19px;
        margin-top: 10px;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}