body{
    background:white; 
}

.book-overview{
    border-right: 1px solid #e3e3e3;
    padding: 10px;  
    padding-top: 0px;
    font-size: 1.1em;
    line-height: 1em;
    padding: 5px;
}

.book-overview p:hover .book-overview-cover{
    background-color:#FFE5DE;
    cursor: pointer;
    display: block;
}

.book-overview-cover{
    background-color:white;
    height: 200px;
    width: auto;
    display: none;
    position: absolute;
    left: 0px; /* change this value to one that suits you */
    top: 0px; /* change this value to one that suits you */
}

.book-overview-cover img{
    text-align: center;
    background-color:white;
    height: 200px;
    width: auto;
    display: none;
    position: absolute;
    left: 0px; /* change this value to one that suits you */
    top: 0px; /* change this value to one that suits you */
}

.book-overview p{
    height: 250px;
/*     background-color:#fafafa;
     */    overflow: hidden;
    text-overflow:ellipsis;
    margin-bottom: 5px;
    padding-left:5px;
    padding-right: 5px;
    border-radius: 5px;
    border: 1px solid white;
}
