@font-face {
    font-family: opensans;
    src: url('OpenSans-Regular.ttf');
}

body{
        font-family: "opensans";

}

.section{
    font-family: "opensans";
}

.row{
    margin-left:10%;
    margin-right:10%;
}

.wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

.footnotes{
    
}
.sidenote{
    background-color:#D0CABF;
    color:#4B4D5E;
    padding:1em;
    /*color:#D0CABF;*/
    font-size: 0.85rem;
    margin:1rem 0 1rem 1rem;
}

.sidenote p{
  margin-bottom:0.6em;
}


/* sidebar */

#sidebar-wrapper {
    margin-left: -150px;
    left: 70px;
    width: 150px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 150px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}


#sidebar-wrapper-550{
    display: none;    
    } 
#menu-toggle-550{
    display: none;
    }


#menu550-toggle:checked + #menu550 {
    display: none;  
}

label{
      display: none;
    }

#wrapper550{
    display: none;
}

/* content */
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

.wrapper {
    padding-left: 170px;
    transition: all .4s ease 0s;
}

@media (max-width:767px) {
.wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
.wrapper.active {
    padding-left: 150px;
}
.wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
}
}

@media (max-width:550px){
body{
    overflow-x:hidden;
    }
    
#sidebar-wrapper{
    display: none;
    }
    
.wrapper.active{
    padding-left:0;
    }
#sidebar-wrapper-550{
    display: block; 
    margin: 0;
    } 
#menu-toggle-550{
    display:block;
    }
    
.wrapper{
    padding-left: 0;   
    }    

    

#menu550-toggle {
    display: none; /* hide the checkbox */
    z-index: 9999999;
    position: fixed;
}
    
#menu550 {
    display: none;
    z-index: 9999999;
    position: fixed;
    text-align: center;
    width: 90%;
    margin:5%;
    margin-left:2%;
    align: center;
    padding-top:5px;
    padding-bottom: 5px;
}
    
#menu550-toggle:checked + #menu550 {
    display: block;
    z-index: 9999999;
    position: fixed;
    margin-top:30px;   
}

label{
        position: fixed;
    }

#wrapper550{
    display: block;
    }
    
}