/************************************
		CONTENT 					
************************************/
		body {
		    margin: 0;
		}

/*******THE CONTENT********************/
		#content {
			margin-left: 20%;
			width: 40%;
		}

		a {
			text-decoration: none;
			color: black;
		}

/*******HORIZONTAL SCROLLBAR**********
********FOR THE CHAPTERS*************/
		.horizScroll, .subScroll {
		    opacity: .3;
		    width: 0%;
		    height: 100%;
		    max-width: 100%;
		    position: absolute;
		    top: 0;
		}

		.horizScroll {
			background-color: gray;
		}

		.subScroll {
		    background-color: black;
		}

/****************************************
		MENU
****************************************/
		#toc_wrapper {
			margin: 0 0 0 2%;
			padding: 0;
			left: 0%;
			cursor: pointer;
			width: 98%;
			overflow: 
		}

		#toc_wrapper h2 {
			font-size: 1em;
			position: relative;
			width: 100%;
			min-height: 1em;
			border-top: 1px dashed black;
			padding: 1% 0%;
			margin: 0;
		}
		#toc_wrapper h3 {
			min-height: 1em;
			width: 90%;
			margin: 0%;
			padding-bottom: 1%;
			margin-left: 10%;
			font-size: .8em;
			position: relative;
			font-weight: normal;
		}

		#toc_wrapper a {
			/*display: block;
			width: 100%;
			text-decoration: none;
			color: black;
			min-height: 1em !important;
			border-top: 
			border-left: 1px solid black;
			padding: 3% 0% 2% 0%;
			margin-left: 1%;*/
		}

		#toc_wrapper h2:last-child {
			/*border-bottom: 1px solid black;*/
		}

		#toc_wrapper h2:hover, #toc_wrapper h3:hover {
			background-color: aqua;
		}

/*******MENU WITH THE TOC THAT******************
********COMES IN SLIDING FROM THE LEFT*********/
		.pushmenu {				/*basically nav*/
		  background: gold;
		  width: 28%;
		  height: 100%;
		  padding-top: 3%;
		  position:fixed;
		}

/*******CLASS ADDED TO MAKE**************
********IT GO OFF SCREEN****************/
		.pushmenu-left {
		  left: -28%;

		}

/*******CLASS TO MAKE IT***********
********SLIDE IN FROM LEFT********/
		.pushmenu-left.pushmenu-open {
		  left: 0;
		}

/*******PUSHES THE REST OF THE**********
********#CONTENT TO THE RIGHT**********/

		.pushmenu-push {
		  overflow-x: hidden;
		  position: relative;
		  left: 0;
		}

/*******CLASS THAT MAKES**********
********THE #CONTENT MOVE*********
********TO THE RIGHT*************/
		.pushmenu-push-toright {
		  left: 28%;
		}

/*******TRANSITIONS****************/
		.pushmenu, .pushmenu-push {
		  -webkit-transition: all 0.3s ease;
		  -moz-transition: all 0.3s ease;
		  transition: all 0.3s ease;  
		}

/*******VERTICAL BAR THAT*********
********OPENS UP THE MENU********/
		#menu_bar {
			cursor: pointer;
			background-color: orange;
			height: 100%;
			width: 2%;
			position: fixed;
		}

/*******VERTICAL SCROLL BAR*******/
		#menu_bar_scroll {	
			cursor: pointer;
			background-color: magenta;
			opacity: .3;
			height: 0%;
			/*max-height: 100%;*/
			width: 2%;
			position: fixed;	
		}

/**************************************
		NEXT AND PREV
**************************************/
		.search_nav {
			position: fixed;
			top: 15px;
		}

		#prev {
			right: 155px;
		}

		#next {
			right: 105px;
		}

		.search-found {
			color: black;
		}

		.search-notfound {
			color: #BFBFBF;
		}

		.highlight {
			/*display: inline-block; 
			width: 50%;
			height: 50%;
			text-align: center;*/
			background-color: #BFBFBF;
			/*background: -webkit-radial-gradient(10px, white, white, #BFBFBF); /* Safari 5.1 to 6.0 */
		    /*background: -o-radial-gradient(10px, white, white, #BFBFBF); /* For Opera 11.6 to 12.0 */
		    /*background: -moz-radial-gradient(10px, white, white, #BFBFBF); /* For Firefox 3.6 to 15 */
		    /*background: radial-gradient(10px, white, white, #BFBFBF); /* Standard syntax (must be last)*/
		}

		/*.search-found {
			background: -webkit-radial-gradient(10px, white, white, #BFBFBF); /* Safari 5.1 to 6.0 
		    background: -o-radial-gradient(10px, white, white, #BFBFBF); /* For Opera 11.6 to 12.0 
		    background: -moz-radial-gradient(10px, white, white, #BFBFBF); /* For Firefox 3.6 to 15 
		    background: radial-gradient(10px, white, white, #BFBFBF); /* Standard syntax (must be last) *
		}*/

		#live-search {
			top: 40px;
			padding-right: 50px;
			background-color: gray;
			right: 0px;
			position: fixed;
		}

		#buttons_wrapper{
			display: none;
		}


/*******AUTOCOMPLETE*********
********LIST OF ITEMS*******/
		.ui-autocomplete {
			list-style: none;
			position: fixed;
			padding-top: 2px;
			-webkit-padding-start: 0px;
		}

		.ui-menu-item {
			background-color: red;
		}

		.ui-menu-item:focus {
			background-color: yellow;
		}


