#main {
	width: 100%;
}
nav {
	display: inline-block;
	position: fixed;
	/*float: left;
	/*right: 75%;
	left: auto;*/
	width: 20%;
	margin-top: 13%;
}

#content {
	display: inline-block;
	margin-left: 23%;
	/*position: relative;
	float: right;*/
	width: 40%;
}

.highlight {
	/*display: inline-block; 
	width: 50%;
	height: 50%;
	text-align: center;*/
	background-color: #BFBFBF;
	/*background: -webkit-radial-gradient(10px, white, white, #BFBFBF); /* Safari 5.1 to 6.0 */
    /*background: -o-radial-gradient(10px, white, white, #BFBFBF); /* For Opera 11.6 to 12.0 */
    /*background: -moz-radial-gradient(10px, white, white, #BFBFBF); /* For Firefox 3.6 to 15 */
    /*background: radial-gradient(10px, white, white, #BFBFBF); /* Standard syntax (must be last)*/
}

/*.search-found {
	background: -webkit-radial-gradient(10px, white, white, #BFBFBF); /* Safari 5.1 to 6.0 
    background: -o-radial-gradient(10px, white, white, #BFBFBF); /* For Opera 11.6 to 12.0 
    background: -moz-radial-gradient(10px, white, white, #BFBFBF); /* For Firefox 3.6 to 15 
    background: radial-gradient(10px, white, white, #BFBFBF); /* Standard syntax (must be last) *
}*/
.search_nav {
	position: fixed;
}

#prev {
	left: 0;
}

#next {
	left: 50px;
}


.search-notfound {
	color: #BFBFBF;
}

#live-search {
	padding-right: 50px;
	background-color: gray;
	right: 0px;
	position: fixed;
}

.ui-autocomplete {
	list-style: none;
	position: fixed;
	padding-top: 2px;
	-webkit-padding-start: 0px;
}

.ui-menu-item {
	background-color: red;
}

.ui-menu-item:focus {
	background-color: yellow;
}


