@font-face {
    font-family: OpenSans;
    src: url('fonts/OpenSans-Regular.ttf');
}



body {
    margin: 0;
    overflow-y: scroll;
      overflow-x: hidden;
    font-family: "OpenSans";
}
.pushmenu pushmenu-left pushmenu-open .content{
    width: 20%;
}
.pushmenu-open .main{
    width: 20%;
}

.container{
    
}

/************* READER ***************/

.content{
    overflow-x: hidden;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
    line-height: 29px;
}
.content-pushed{
    width: 60%;
    margin-left: 10%;
    margin-right: 5%;
}


a{
    color:#ff3300;
}

/************* MENU ***************/


.pushmenu { /*this is the nav*/
  background: #3c3933;
  width: 240px;
  height: 100%;
  top: 0;
  position:fixed;
}

.pushmenu h3 {
  font-size: 14px;
  padding: 15px 20px;
  margin: 0;
  background: #282522;    
  height: 16px;
}

.pushmenu a {
  display: block; /* drops the nav vertically*/
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-top: 1px solid #56544e;
  border-bottom: 1px solid #312e2a;
  padding: 14px;
}

.pushmenu a:hover {
  background:#adadad;
}

.pushmenu a:active {
  background: #454f5c;
  color: #fff;
}

.pushmenu-left {
  left: -240px;
    overflow-y:scroll;

}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 240px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

#nav_list {
  background: url(http://www.onlywebpro.com/demo/jquery/icon_nav.png) no-repeat left top;
  cursor: pointer;
  height: 27px;
  width: 33px;
  text-indent: -99999em;
}

nav-list.active {
  background-position: -33px top;
}

 .buttonset {
      height: 16px;
     position: fixed;
     top:0;
     left:0;
     background-color: red;
 }
 
 section.content {
   padding: 10px 20px;
 }








/*

************ PARALLAX *************

*/

[class*="bg__"] {
  height: 400px;
  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
background-image: url('image/cover.jpg');
        width: 800px;

}

.bg__bar {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax2.jpg
  );
}

.bg__baz {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax3.jpg
  );
}

.bg__bazz {
  height: 100vh;

  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
  );
}



/*

************* DEVICES ***************

*/


@media (min-width:200px) { /* smartphones, iPhone, portrait 480x320 phones */
.content{
    overflow-x: hidden;
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
    line-height: 1.4em;
}
.content-pushed{
    width: 60%;
    margin-left: 105%;
    margin-right: 5%;
}
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
.content{
    overflow-x: hidden;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}

@media (min-width:800px){
    .content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.content-pushed{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
}
} 

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
.content{
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.content-pushed{
    width: 800px;
    margin-left: 13%;
    margin-right: auto;}
} 