body {
	font-family: Georgia;
	font-size: 1em;
	/*background-color: white;*/ /*#EBE7E6*/
}



/*
#a a{
  text-decoration: none;
  border: none;
  color: red;
}
*/


/*
#a a:hover{
  color: green;
  background-color: transparent;
}
*/

/*
#myPopup p{
   color: blue;
  -webkit-user-select: all  !important;  /* Chrome all / Safari all 
  -moz-user-select: all !important;     /* Firefox all 
  -ms-user-select: all !important;      /* IE 10+ 
   user-select: all !important;
}
*/


/*button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: black;
    padding: 0px 0px 0px;
    border: 0px;
    border-image-source: none;
    border-image-slice: none;
    border-image-width: none;
    border-image-outset: none;
    border-image-repeat: none;
    background-color: white;
    box-sizing: none;
}*/


.in-text {
	background-color: #C7C7BB;
}

.tip {
	background-color: yellow;
	/*opacity: 0.9;*/
	-webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.9));
  	filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.9));
  	/*-webkit-filter: blur(5px);
  	filter: blur(5px);*/
	font-size: 14px;
	max-width: 25%;
	/*overflow: scroll;*/
	padding: 2px 7px;
	border: 1px solid black;
	position: absolute;
	right: 0;
}


#x {
	position: inherit;
	right: -3px;
	top: -7px;
	border-radius: 9px;
	border: 1px solid red;
	background-color: orange;
	padding: 0 4px;
	text-align: center;
}



#x a {
	text-decoration: none;
	color: black;
}



.tip p {
	margin: 0;
}

.keyword {
	color: #454545;
    /*text-shadow: 1px 1px #292929;
   /*-webkit-text-fill-color: #FF9980;  /*Will override color (regardless of order) */
   /*-webkit-text-stroke-width: .3px;
   -webkit-text-stroke-color: #1F1F1F;	/*font-weight: bold !important;
	font-family: "Baskerville";
	border-radius: 20%;
    background-color: #DEDEDE;
    box-shadow:
        0px 0px 60px 0px #BEBEBE, 
        0 0 0px 0px #DEDEDE;*/

	background: 
	-webkit-linear-gradient(#FF9980, #292929);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*ff3300 */

/*.keyword:hover {
    text-shadow: 0px 0px 10px #ff3300;
}*/