/************************************
******* CONTENT *********************
************************************/
		body {
		    margin: 0;
		}

/*******THE CONTENT********************/
		#content {
			margin-left: 5%;
			width: 55%;
		}

		a {
			text-decoration: none;
		}

		.section {
			font-size: 1em;
		}

		.section h2 {
			font-size: 1em;
		}

		.section p {
			font-size: 1em;
		}

/*******HORIZONTAL SCROLLBAR**********
********FOR THE CHAPTERS*************/
		.horizScroll, .subScroll {
		    opacity: .3;
		    width: 0%;
		    height: 100%;
		    max-width: 100%;
		    position: absolute;
		    top: 0;
		}

		.horizScroll {
			background-color: gray;
		}

		.subScroll {
		    background-color: black;
		}

/****************************************
******* MENU ****************************
****************************************/
		#toc_wrapper {
			margin: 0 0 0 2%;
			padding: 0;
			left: 0%;
			cursor: pointer;
			width: 98%;
			overflow: 
		}

		#toc_wrapper h2 {
			font-size: 1em;
			position: relative;
			width: 100%;
			min-height: 1em;
			border-top: 1px dashed black;
			padding: 1% 0%;
			margin: 0;
		}
		#toc_wrapper h3 {
			min-height: 1em;
			width: 90%;
			margin: 0%;
			padding-bottom: 1%;
			margin-left: 10%;
			font-size: .8em;
			position: relative;
			font-weight: normal;
		}

		#toc_wrapper h2:last-child {
			/*border-bottom: 1px solid black;*/
		}

		#toc_wrapper h2:hover, #toc_wrapper h3:hover {
			background-color: aqua;
		}

/*******MENU WITH THE TOC THAT******************
********COMES IN SLIDING FROM THE LEFT*********/
		.pushmenu {				/*basically nav*/
		  background: gold;
		  width: 28%;
		  height: 100%;
		  padding-top: 3%;
		  position:fixed;
		}

/*******CLASS ADDED TO MAKE**************
********IT GO OFF SCREEN****************/
		.pushmenu-left {
		  left: -28%;
		  /*transition: all 0.5s ease;  */
		}

/*******CLASS TO MAKE IT***********
********SLIDE IN FROM LEFT********/
		.pushmenu-left.pushmenu-open {
		  left: 0;
		  /*transition: all 0.5s ease;  */
		}

/*******PUSHES THE REST OF THE**********
********#CONTENT TO THE RIGHT**********/

		.pushmenu-push {
		  /*overflow-x: hidden;*/
		  position: relative;
		  left: 0;
		}

/*******CLASS THAT MAKES**********
********THE #CONTENT MOVE*********
********TO THE RIGHT*************/
		.pushmenu-push-toright {
		  left: 28%;
		  margin-right: 28%;
		  /*transition: all .5s ease;*/
		}

/*******TRANSITIONS****************/
		.pushmenu, .pushmenu-push, .pushmenu-push-toright {
		  -webkit-transition: all 0.5s ease;
		  -moz-transition: all 0.5s ease;
		  transition: all 0.5s ease;  
		}

/*******VERTICAL BAR THAT*********
********OPENS UP THE MENU********/
		#menu_bar {
			/*cursor: pointer;*/
			background-color: orange;
			height: 100%;
			width: 1%;
			position: fixed;
		}

/*******VERTICAL SCROLL BAR*******/
		#menu_bar_scroll {	
			/*cursor: pointer;*/
			background-color: magenta;
			opacity: .3;
			height: 0%;
			/*max-height: 100%;*/
			width: 1%;
			position: fixed;
		}


/*******MENU TOGGLE BUTTON**********/
	.toggle_menu {
		z-index: 1000;
		cursor: pointer;
		position: fixed;
		width: 50px;
		height: 50px;
		background-image: url('imgs/menu_arrow_open.png');
		background-size: 50px 50px;
		/*background-color: blue;*/
		  -webkit-transition: all 1s ease;
		  -moz-transition: all 1s ease;
		  transition: all 1s ease; 
	}


	.close_menu {
		background-image: url("imgs/menu_arrow_close.png");
		background-size: 50px 50px;
		/*background-color: green;*/
		  -webkit-transition: all 1s ease;
		  -moz-transition: all 1s ease;
		  transition: all 1s ease; 
	}

/**************************************
******* FONT-SIZE UP/DOWN *************
**************************************/

#tool-fontsize {
	position: fixed;
	/*float: left;*/
/*		position: static;
		bottom: 5px;
		display: inline-block;*/
	background-color: #fff;
	/*float: right;*/
	right: 2%;
	top: 8%;
	font-family: "HKGrotesk";
	/*font-weight: 400;*/
	width: auto;
	height: auto;
}

#tool-fontsize > * {
	position: static;
}


/*#sizeUp #button2,#sizeDown #button1 {
	position: absolute;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: 30px;
	display: inline-block;
	float: left;
	width: auto;
	height: auto;
}

#sizeDown,#letter,#sizeUp {
	position: absolute;
	float: left;
	font-size: 30px;
}*/

/**************************************
******* NEXT AND PREV *****************
**************************************/
	.search_nav {
		/*position: absolute;*/
		position: fixed;
		top: 50%;
	}

	#prev {
		right: 155px;
	}

	#next {
		right: 105px;
	}

	.search-found {
		color: black;
	}

	.search-notfound {
		color: #BFBFBF;
	}

	.highlight {
		background-color: #BFBFBF;
	}

	#live-search {
		top: 10%;
		padding-right: 30%;
		background-color: violet;
		right: 0;
	/*		position: static;
			bottom: 5px;
			display: inline-block;*/
		position: fixed;
	}

	#buttons_wrapper{
		display: none;
	}


/****************************
******** ARROWS *************
****************************/

#arrows {
	position: fixed;
	right: 1%;
	top: 50%;
}


/*******AUTOCOMPLETE*********
********LIST OF ITEMS*******/
	.ui-autocomplete {
		list-style: none;
		position: fixed;
		padding-top: 2px;
		-webkit-padding-start: 0px;
	}

	.ui-menu-item {
		background-color: red;
	}

	.ui-menu-item:focus {
		background-color: yellow;
	}


/*************************************
******* REFERENCE BOX ****************
*************************************/
    .in-text {
    	background-color: #C7C7BB;
    }

/********THE BOX**********************/
    .tip {
    	background-color: yellow;
    	/*opacity: 0.9;*/
    	-webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.9));
     	filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.9));
      	/*-webkit-filter: blur(5px);
      	filter: blur(5px);*/
    	font-size: 14px;
    	max-width: 25%;
    	/*overflow: scroll;*/
    	padding: 2px 7px;
    	border: 1px solid black;
    	border-radius: 5px;
    	position: absolute;
    	right: 0;
    }

/********THE TEXT*********************/
    .tip p {
      margin: 0;
    }

/********THE X BUTTON******************/
    #x {
    	position: inherit;
    	right: -6px;
    	top: -6px;
    	border-radius: 9px;
    	border: 1px solid red;
    	background-color: orange;
    	padding: 0 4px;
    	text-align: center;
    }



    #x a {
    	text-decoration: none;
    	color: black;
    }

/******* THE KEYWORDS *****************/
    .capitalism, .capital, .creativity, .art, .contemporary, .culture, .ideological, .social, .labor, .attention, .image, .production, .capitalism, .art, .state, .life, .public, .city, .economics, .production, .development, .art, .social, .avant-garde, .world, .big, .Other, .art, .urban, .cultural, .project, .creativity, .Belgrade, .Rog, .capital, .creative, .collective, .urban, .factory, .gentrification, .art, .political, .social, .culture, .autonomy, .public, .work {
    	color: #3B0000; /*#454545;*/
    	/*font-weight: 500;*/
        /*text-shadow: 1px 1px #292929;
       /*-webkit-text-fill-color: #FF9980;  /*Will override color (regardless of order) */
       /*-webkit-text-stroke-width: .3px;
       -webkit-text-stroke-color: #1F1F1F;	/*font-weight: bold !important;
    	font-family: "Baskerville";
    	border-radius: 20%;
        background-color: #DEDEDE;
        box-shadow:
            0px 0px 60px 0px #BEBEBE, 
            0 0 0px 0px #DEDEDE;*/

    /*	background: 
    	-webkit-linear-gradient(#FF9980, #292929);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;*/
    }

/********CITATIONS************************/
    #tools {
	top: 2%;
	right: 1%;
    position: fixed;
    }

    .full-citation {
      text-align: left;
      word-wrap: break-word;
      background-color: yellow;
      min-height: 6em;
      width: 95%;
      max-width: 95%;
      margin-top: 1%;
      margin-left: 1%;
      margin-bottom: 1%

    }

    #citation-box {
      top: 10%;
      right: 1%;
      position: fixed;
    /*
      position: absolute;
      right: 2%;
    */
      border: 1px solid black;
      border-radius: 5px;
      background-color: #C7C7BB;
      width: 30%;
      min-height: 15%;
    }

/********ON SUCCESFUL COPY****************/
    .confirmation {
    background-color: green;
    display: inline;
    margin-left: 5%;
    /*margin: auto;*/
    }

/********************************************
********FOOT-/SIDENOTES**********************
********************************************/
#chapter8 {
	height: 100%;
	width: 20%;
	position: absolute;
	right: 5%;
	top: 0%;
	background-color: azure;
	border: 1px dashed black;
}

#chapter8 ol {
	margin: 0;
	padding: 0;
}

/*******INDIVIDUAL BOXES*******************/
#chapter8 ol li {
	position: absolute;
	background-color: lavender;
	border: 1px solid black;
	min-height: 3em;
	max-width: 100%;
}

#chapter8 ol li p {
	margin: .5em 0;
	word-wrap: break-word;
}
/*******BRINGS SIDENOTES TO FRONT**********/
.focusSidenote {
	z-index: 1000;
	-webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.9));
     filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.9));
}

/********************************************/
.ui-helper-hidden-accessible {
	display: none;
}


#img {
	height: 409,8px;
	width: 600px;
}

#leger_img {
	height: 409,8px;
	width: 600px;
}


/****************** BOOTSTRAP***************************/
.row {
	/*width: 80%;*/
	/*margin: 0 3%;*/
}

.col-lg-8 {
	/*padding-right: 8%;*/
	/*width: 80%;*/
	/*margin-right: 5%;*/
}


